src/main/default/flows/Add_Inspection_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>addNewlyCreatedTask</name>
        <label>addNewlyCreatedTaskToExistingTaskList</label>
        <locationX>290</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>fullAssessmentTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAssessmentTaskList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fullAssessmentTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>existingAssessmentTaskList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopingAssessmentTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addNewTaskToList</name>
        <label>addNewTaskToList</label>
        <locationX>794</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>newAssessmentTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAssessmentTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopingCategoriesForExistingTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_Questions_To_Selected</name>
        <label>Assign All Questions To Selected</label>
        <locationX>158</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>selectedInspectionQuestions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssessmentIndicatorDefinitionList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_All_Assessment_Tasks_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addNewTaskToList</name>
        <label>addNewTaskToList</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>newAssessmentTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAssessmentTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopingCategories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createInspectionQuestionList</name>
        <label>createInspectionQuestionList</label>
        <locationX>906</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>InspectionQuestionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InspectionQuestion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createInspectionQuestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_all_questions_to_Assessment_tasks</name>
        <label>Set all questions to Assessment tasks</label>
        <locationX>158</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>selectedInspectionQuestions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssessmentIndicatorDefinitionList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_All_Tasks_Has_To_Be_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAssessmentQuestionList</name>
        <label>setAssessmentQuestionList</label>
        <locationX>290</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>AssessmentIndicatorDefinitionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Assessment_Indicator_Definition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalAssessmentIndicatorCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Assessment_Indicator_Definition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assessment_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewAssessmentTask</name>
        <label>setNewAssessmentTask</label>
        <locationX>794</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>newAssessmentTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopingCategoriesForExistingTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.TaskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InspectionChecklist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addNewTaskToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewAssessmentTaskForEmptyList</name>
        <label>setNewAssessmentTask</label>
        <locationX>138</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>newAssessmentTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopingCategories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.TaskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InspectionChecklist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_addNewTaskToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateInspectionQuestion</name>
        <label>updateInspectionQuestion</label>
        <locationX>906</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>InspectionQuestion.AssessmentIndDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createInspectionQuestion.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionQuestion.AssessmentTaskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopingAssessmentTask.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionQuestion.Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createInspectionQuestionList</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filterQuestionsByCategory</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filterQuestionsByCategory</label>
        <locationX>642</locationX>
        <locationY>2390</locationY>
        <assignNextValueToReference>currentItem_filterQuestionsByCategory_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>selectedInspectionQuestions</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterQuestionsByCategory_0.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LoopingAssessmentTask.Name</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>createInspectionQuestion</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>check_if_All_tasks_are_selected</name>
        <label>check if All tasks are selected</label>
        <locationX>290</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Check_if_All_Tasks_Has_To_Be_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Tasks_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_All_Inspection_Tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_all_questions_to_Assessment_tasks</targetReference>
            </connector>
            <label>All Tasks Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_All_Tasks_Has_To_Be_Created</name>
        <label>Check if All Tasks Has To Be Created</label>
        <locationX>290</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>get_All_Assessment_Tasks_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_All_Inspection_Tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All_Questions_To_Selected</targetReference>
            </connector>
            <label>All Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckExistingAssessmentTask</name>
        <label>IsNewInspection</label>
        <locationX>290</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>loopingCategoriesForExistingTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Inspection</defaultConnectorLabel>
        <rules>
            <name>Existing_Task_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingAssessmentTaskList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopingCategories</targetReference>
            </connector>
            <label>New Inspection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Inspection_Question_Added</name>
        <label>Is New Inspection Question</label>
        <locationX>818</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>updateInspectionQuestion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Question</defaultConnectorLabel>
        <rules>
            <name>New_Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingAssessmentIndicatorList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>createInspectionQuestion.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createInspectionQuestion</targetReference>
            </connector>
            <label>Question Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCategoryAddedForExistingTask</name>
        <label>Is Task Created</label>
        <locationX>706</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>setNewAssessmentTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task Not Found</defaultConnectorLabel>
        <rules>
            <name>Category_Already_Added_ForExisting_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCategoryList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopingCategoriesForExistingTask</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopingCategoriesForExistingTask</targetReference>
            </connector>
            <label>Task Found</label>
        </rules>
    </decisions>
    <description>Added Fault Path</description>
    <environments>Default</environments>
    <interviewLabel>Add Inspection Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Inspection Tasks</label>
    <loops>
        <name>createInspectionQuestion</name>
        <label>createInspectionQuestion</label>
        <locationX>642</locationX>
        <locationY>2498</locationY>
        <collectionReference>filterQuestionsByCategory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Inspection_Question_Added</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopingAssessmentTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopingAssessmentTask</name>
        <label>LoopingAssessmentTask</label>
        <locationX>290</locationX>
        <locationY>2282</locationY>
        <collectionReference>fullAssessmentTaskList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>filterQuestionsByCategory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createInspectionQuestions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopingCategories</name>
        <label>loopingCategories</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <collectionReference>categoryList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setNewAssessmentTaskForEmptyList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createNewAssessmentTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopingCategoriesForExistingTask</name>
        <label>loopingCategoriesForExistingTask</label>
        <locationX>530</locationX>
        <locationY>1382</locationY>
        <collectionReference>categoryList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsCategoryAddedForExistingTask</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createNewAssessmentTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createInspectionQuestions</name>
        <label>createInspectionQuestions</label>
        <locationX>290</locationX>
        <locationY>3182</locationY>
        <connector>
            <targetReference>display_success_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>inspectionQuestionErrorMessageScreen</targetReference>
        </faultConnector>
        <inputReference>InspectionQuestionList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createNewAssessmentTask</name>
        <label>createNewAssessmentTask</label>
        <locationX>290</locationX>
        <locationY>2066</locationY>
        <connector>
            <targetReference>addNewlyCreatedTask</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssessmenttaskCreationErrorMessage</targetReference>
        </faultConnector>
        <inputReference>newAssessmentTaskList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Assessment_Indicator_Definition</name>
        <label>getAssessmentIndicatorDefinition</label>
        <locationX>290</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setAssessmentQuestionList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssessmentIndicatorError</targetReference>
        </faultConnector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentIndicatorDefinition</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assessment_Questions</name>
        <label>Select Assessment Questions</label>
        <locationX>290</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Add more Tasks</backButtonLabel>
        <connector>
            <targetReference>check_if_All_tasks_are_selected</targetReference>
        </connector>
        <fields>
            <name>Add_All_Inspection_Tasks</name>
            <dataType>Boolean</dataType>
            <fieldText>Add All Inspection Tasks</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MessageOnSelectingAllTask</name>
            <fieldText>&lt;p&gt;Selected {!totalAssessmentIndicatorCount} of {!totalAssessmentIndicatorCount} items.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_All_Inspection_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inspectionQuestionsSample</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AssessmentIndicatorDefinition</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AssessmentIndicatorDefinitionList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Category__c&quot;,&quot;guid&quot;:&quot;column-7763&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Division&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b32f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedInspectionQuestions</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_All_Inspection_Tasks</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Add Assessment Task</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AssessmentIndicatorError</name>
        <label>AssessmentIndicatorError</label>
        <locationX>1274</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>assessmentIndicatorErrorMessage</name>
            <fieldText>&lt;p&gt;Not able to load Inspection Questions. Please try again later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AssessmenttaskCreationErrorMessage</name>
        <label>AssessmenttaskCreationErrorMessage</label>
        <locationX>1010</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>assessmentTaskCreationError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Not able to create Assessment Tasks. Please try again later.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>display_success_message</name>
        <label>display success message</label>
        <locationX>290</locationX>
        <locationY>3290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SucessMessage</name>
            <fieldText>&lt;p&gt;Assessment Task created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>inspectionQuestionErrorMessageScreen</name>
        <label>inspectionQuestionErrorMessageScreen</label>
        <locationX>746</locationX>
        <locationY>3290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>inspectionQuestionCreationErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Not able to create Inspection Questions. Please try again later.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>164</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Assessment_Indicator_Definition</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>get_All_Assessment_Tasks_Questions</name>
        <label>get All Assessment Tasks &amp; Questions</label>
        <locationX>290</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>GetCategoryListForSelectedQuestions</targetReference>
        </connector>
        <flowName>Get_All_Assessment_Task_Details_From_Inspection</flowName>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>existingAssessmentIndicatorList</assignToReference>
            <name>existingAssessmentIndicatorList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>existingCategoryList</assignToReference>
            <name>existingCategoryList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>existingInspectionQuestionList</assignToReference>
            <name>existingInspectionQuestionsList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>existingTaskIdList</assignToReference>
            <name>existingTaskIDList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>existingAssessmentTaskList</assignToReference>
            <name>existingTaskList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GetCategoryListForSelectedQuestions</name>
        <label>GetCategoryListForSelectedQuestions</label>
        <locationX>290</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>CheckExistingAssessmentTask</targetReference>
        </connector>
        <flowName>Get_Category_List_From_Assessment_Indicator_Definition</flowName>
        <inputAssignments>
            <name>QuestionList</name>
            <value>
                <elementReference>selectedInspectionQuestions</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>categoryList</assignToReference>
            <name>categoryList</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssessmentIndicatorDefinitionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentIndicatorDefinition</objectType>
    </variables>
    <variables>
        <name>categoryList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_filterAssessmentTaskForCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>currentItem_filterQuestionsByCategory_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentIndicatorDefinition</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentIndicatorDefinition</objectType>
    </variables>
    <variables>
        <name>existingAssessmentIndicatorList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingAssessmentTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>existingCategoryList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingInspectionQuestionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>existingTaskIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fullAssessmentTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>InspectionQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>InspectionQuestionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>newAssessmentTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>newAssessmentTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>newTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>selectedInspectionQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentIndicatorDefinition</objectType>
    </variables>
    <variables>
        <name>totalAssessmentIndicatorCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>