src/main/default/flows/CreateActionplanforbusinessInspectionFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Action_Plan_Template_Name</name>
        <label>Get Action Plan Template Name</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <actionName>Action_Plan_Template_Decision_Matrix</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>ActionPlanTemplateCheck</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FacilityProgram</name>
            <value>
                <elementReference>$Record.Account.ProgramArea__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LicenseType</name>
            <value>
                <elementReference>GetVisitRecord.Account.LicenseType__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InspectionType</name>
            <value>
                <elementReference>GetVisitRecord.VisitType.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Action_Plan_Template_Decision_Matrix</nameSegment>
        <outputParameters>
            <assignToReference>ActionPlanTemplateName</assignToReference>
            <name>Template</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignActionPlanToVisit</name>
        <label>Assign Action Plan To Visit</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>NewActionPlan.ActionPlanTemplateVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetActionPlanTemplateVersion.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.TargetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetVisitRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetActionPlanTemplate.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.ActionPlanType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actionplantempitem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>578</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>Assessmentskdef</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAssessmnttask.AssessmentTaskDefinitionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Records_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>578</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>Assessmnttask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAssessmnttask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assessmnttaskrec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Assignment 5</label>
        <locationX>666</locationX>
        <locationY>2699</locationY>
        <assignmentItems>
            <assignToReference>InsAssessIndi.AssessmentTaskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ATRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsAssessIndi.AssessmentIndDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ATID.AssessmentIndDefinitionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_6</name>
        <label>Assignment 6</label>
        <locationX>666</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>IAIRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InsAssessIndi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IAIRec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createtask</name>
        <label>createtask</label>
        <locationX>578</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>newAssessmnttask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_7.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmnttask.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmnttask.TaskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InspectionChecklist</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmnttask.AssessmentTaskDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_7.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_4</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>litral</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>ActionPlanTemplateActivated</name>
        <label>Action Plan Template Activated</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Action Plan Template Is  Not Active</defaultConnectorLabel>
        <rules>
            <name>ActionPlanTemplateIsActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActionPlanTemplateVersion.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignActionPlanToVisit</targetReference>
            </connector>
            <label>Action Plan Template Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActionPlanTemplateCheck</name>
        <label>Action Plan Template Check</label>
        <locationX>611</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Template Name Not Available</defaultConnectorLabel>
        <rules>
            <name>TemplateNameAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionPlanTemplateName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActionPlanTemplate</targetReference>
            </connector>
            <label>Template Name Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActionPlanTemplateIDcheck</name>
        <label>Action Plan Template ID check</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Action Plan Template Not Found</defaultConnectorLabel>
        <rules>
            <name>ActionPlanTemplateFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActionPlanTemplate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActionPlanTemplateVersion</targetReference>
            </connector>
            <label>Action Plan Template Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Action plan for business Inspection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Action plan for business Inspection Flow</label>
    <loops>
        <name>Actionvalues</name>
        <label>Actionvalues</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <collectionReference>Actionplantempitem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actionplan</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>ATRecs</name>
        <label>ATRecs</label>
        <locationX>578</locationX>
        <locationY>2267</locationY>
        <collectionReference>AssessmntTaskRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ATID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_3</name>
        <label>Loop 3</label>
        <locationX>402</locationX>
        <locationY>1511</locationY>
        <collectionReference>Actionplan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssessmntTaskRecs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actionvalues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>assessmnttaskrec</name>
        <label>assessmnttaskrec</label>
        <locationX>578</locationX>
        <locationY>2159</locationY>
        <connector>
            <targetReference>ATRecs</targetReference>
        </connector>
        <inputReference>Assessmnttask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>IAIRec</name>
        <label>IAIRec</label>
        <locationX>666</locationX>
        <locationY>2915</locationY>
        <connector>
            <targetReference>ATRecs</targetReference>
        </connector>
        <inputReference>IAIRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Actionplan</name>
        <label>Actionplantempitemvalue</label>
        <locationX>402</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Actionvalues.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ItemEntityFieldName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AssessmentTask.AssessmentTaskDefinitionId</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ActionPlanTemplateItemValue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Actionplantempitem</name>
        <label>Actionplantempitem</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actionvalues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewActionPlan.ActionPlanTemplateVersion.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ItemEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AssessmentTask</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ActionPlanTemplateItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AssessmntTaskRecs</name>
        <label>AssessmntTaskRecs</label>
        <locationX>578</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_3.ValueLiteral</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentTaskDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AssIdDef</name>
        <label>AssIdDef</label>
        <locationX>666</locationX>
        <locationY>2591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ATID.AssessmentIndDefinitionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentIndicatorDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ATID</name>
        <label>ATID</label>
        <locationX>666</locationX>
        <locationY>2375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ATRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentTaskDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ATRecs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssessmentTaskIndDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ATRec</name>
        <label>ATRec</label>
        <locationX>666</locationX>
        <locationY>2483</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssIdDef</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentTaskDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ATID.AssessmentTaskDefinitionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssessmentTask</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_7</name>
        <label>Get Records 7</label>
        <locationX>578</locationX>
        <locationY>1835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createtask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_3.ValueLiteral</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssessmentTaskDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActionPlanTemplate</name>
        <label>Get Action Plan Template</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActionPlanTemplateIDcheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActionPlanTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActionPlanTemplateVersion</name>
        <label>Get Action Plan Template Version</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActionPlanTemplateActivated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetActionPlanTemplate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVisitRecord</name>
        <label>Get Visit Record</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Template_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetVisitRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VisitTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Visit</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ActionPlanRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ActionPlanTemplateItem</objectType>
    </variables>
    <variables>
        <name>ActionPlanTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Assessmentskdef</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Assessmnttask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ActionPlanTemplateItemValue</objectType>
    </variables>
    <variables>
        <name>IAIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>InsAssessIndi</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>literalv</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>NewActionPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ActionPlan</objectType>
    </variables>
    <variables>
        <name>newAssessmnttask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreLiteralValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssessmentTaskDefinition</objectType>
    </variables>
    <variables>
        <name>taskliteralvalues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
</Flow>
