src/main/default/flows/Flow_Trigger_Assets_After_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assignment_Set_ParentId_And_Quantity</name>
        <label>Assignment: Set ParentId And Quantity</label>
        <locationX>411</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>$Record.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Loop_Through_Get_Records_Get_Assets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Loop_Through_Get_Records_Get_Assets.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaCalculateTotalQuantityOfChildAssets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StoreAssetRecordsToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoreAssetRecordsToUpdate</name>
        <label>StoreAssetRecordsToUpdate</label>
        <locationX>413</locationX>
        <locationY>928</locationY>
        <assignmentItems>
            <assignToReference>ListAssetRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListAssetRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Loop_Through_Get_Records_Get_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Loop_Through_Get_Records_Get_Assets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Are_Records_Present</name>
        <label>Decision: Are Records Present</label>
        <locationX>456</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Create_Records_Create_Child_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision Outcome: Matching Assets Not Found</defaultConnectorLabel>
        <rules>
            <name>Decision_Outcome_Matching_Assets_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Get_Assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Loop_Through_Get_Records_Get_Assets</targetReference>
            </connector>
            <label>Decision Outcome: Matching Assets Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Insert_Or_Update_Asset_Records</name>
        <label>Decision: Insert Or Update Asset Records</label>
        <locationX>184</locationX>
        <locationY>1037</locationY>
        <defaultConnector>
            <targetReference>Update_Records_Update_ListAssetRecordsToUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision Outcome: Update Parent And Child Assets</defaultConnectorLabel>
        <rules>
            <name>Decision_Outcome_Create_Child_Assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListAssetRecordsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records_Create_Child_Assets</targetReference>
            </connector>
            <label>Decision Outcome: Create Child Assets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_Matching_Asset_Found</name>
        <label>Decision: Is Matching Asset Found</label>
        <locationX>544</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Loop_Loop_Through_Get_Records_Get_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision Outcome: Current Asset Record Not Present</defaultConnectorLabel>
        <rules>
            <name>Decision_Outcome_Current_Asset_Record_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Loop_Through_Get_Records_Get_Assets.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Capacity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Loop_Through_Get_Records_Get_Assets.Capacity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Loop_Through_Get_Records_Get_Assets.Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Set_ParentId_And_Quantity</targetReference>
            </connector>
            <label>Decision Outcome: Current Asset Record Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaCalculateTotalQuantityOfChildAssets</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Loop_Through_Get_Records_Get_Assets.Quantity} + {!$Record.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Flow Trigger: Assets After Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Trigger: Assets After Handler</label>
    <loops>
        <name>Loop_Loop_Through_Get_Records_Get_Assets</name>
        <label>Loop: Loop Through Get_Records_Get_Assets</label>
        <locationX>324</locationX>
        <locationY>587</locationY>
        <collectionReference>Get_Records_Get_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Is_Matching_Asset_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Insert_Or_Update_Asset_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_Create_Child_Assets</name>
        <label>Create Records: Create Child Assets</label>
        <locationX>38</locationX>
        <locationY>1200</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Records_Get_Assets</name>
        <label>Get Records: Get Assets</label>
        <locationX>456</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Are_Records_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Capacity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_Update_ListAssetRecordsToUpdate</name>
        <label>Update Records: Update ListAssetRecordsToUpdate</label>
        <locationX>348</locationX>
        <locationY>1185</locationY>
        <inputReference>ListAssetRecordsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Records_Get_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListAssetRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
