src/main/default/flows/Generate_Late_Fee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LateFeeManagementControllerBatch</name>
        <label>LateFeeManagementControllerBatch</label>
        <locationX>635</locationX>
        <locationY>431</locationY>
        <actionName>LateFeeManagementControllerBatch</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ConId</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LateFeeManagementControllerBatch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>ALR-36</description>
        <name>ALRAdminUserCheck</name>
        <label>ALRAdminUserCheck</label>
        <locationX>840</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>LateFeeManagementControllerBatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ALRAdminCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.EHISAdminUser</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessage</targetReference>
            </connector>
            <label>ALRAdminCheck</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>ALR-36</description>
        <name>renewalYearText</name>
        <dataType>String</dataType>
        <expression>Text(YEAR(today()))</expression>
    </formulas>
    <interviewLabel>Generate Late Fee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Late Fee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Other than ALR Admin User, this error message will show.</description>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>1056</locationX>
        <locationY>219</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 13, 13);&quot;&gt;Only ALR Admin can initiate the Late Fee process&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ALRAdminUserCheck</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ALR-36</description>
        <name>renewalAccCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
