src/main/default/flows/GenerateRenewalsForAccounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>ALR-36</description>
        <name>getRenewalAccCount</name>
        <label>getRenewalAccCount</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>RenewalManagementController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>renewalScreen1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>RenewalManagementController</nameSegment>
        <outputParameters>
            <assignToReference>renewalAccCount</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>ALR-36</description>
        <name>RenewalManagementControllerBatch</name>
        <label>RenewalManagementControllerBatch</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>RenewalManagementControllerBatch</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ConId</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RenewalManagementControllerBatch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <description>Screen Flow with a button which on click runs RenewalManagementControllerBatch - ALR-36</description>
    <environments>Default</environments>
    <formulas>
        <description>ALR-36</description>
        <name>renewalYearText</name>
        <dataType>String</dataType>
        <expression>Text(YEAR(today()))</expression>
    </formulas>
    <interviewLabel>Generate Renewals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Renewals for Accounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>ALR-36</description>
        <name>renewalScreen1</name>
        <label>renewalScreen1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RenewalManagementControllerBatch</targetReference>
        </connector>
        <fields>
            <name>renewalHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Renewal Process: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!renewalYearText}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>renewalInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Renewal Year: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!renewalYearText}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Active Residences: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!renewalAccCount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Renewals will be generated for all residences with a status of &quot;Registered Active&quot;, &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot;Registered Active with Conditions&quot;, &quot;Registered Active Progressive Enforcement&quot; without a renewal in progress.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Generate Renewals</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRenewalAccCount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ALR-36</description>
        <name>renewalAccCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
