src/main/default/flows/Get_CatgeoryList_From_AssessmnetIndicatorDefinition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>addCategory</name>
        <label>addCategory</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>categoryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopQuestions.Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQuestions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsCategoryAdded</name>
        <label>IsCategoryAdded</label>
        <locationX>352</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>addCategory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Category Not Added</defaultConnectorLabel>
        <rules>
            <name>Category_Not_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>categoryList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopQuestions.Category__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopQuestions</targetReference>
            </connector>
            <label>Category Added</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Category List From AssessmentIndicatorDefinition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Category List From AssessmentIndicatorDefinition</label>
    <loops>
        <name>loopQuestions</name>
        <label>loopQuestions</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>QuestionList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsCategoryAdded</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loopQuestions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>categoryList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuestionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentIndicatorDefinition</objectType>
    </variables>
</Flow>
