src/main/default/flows/InspectionAssessmentTaskCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AssessmentTaskController</name>
        <label>AssessmentTaskController</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <actionName>InspTasksCreationController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ATIId</name>
            <value>
                <elementReference>ATIId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InspId</name>
            <value>
                <elementReference>GetVisitRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InspTasksCreationController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Action_Plan_Template_Name</name>
        <label>Get Action Plan Template Name</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <actionName>Action_Plan_Template_Decision_Matrix</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>ActionPlanTemplateCheck</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FacilityProgram</name>
            <value>
                <elementReference>$Record.Account.ProgramArea__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LicenseType</name>
            <value>
                <elementReference>GetVisitRecord.Account.LicenseType__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InspectionType</name>
            <value>
                <elementReference>GetVisitRecord.VisitType.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Action_Plan_Template_Decision_Matrix</nameSegment>
        <outputParameters>
            <assignToReference>ActionPlanTemplateName</assignToReference>
            <name>Template</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>ActionPlanItemIds</name>
        <label>ActionPlanItemIds</label>
        <locationX>138</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>ATIId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ActionPlanItemValues.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActionPlanItemValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignActionPlanToVisit</name>
        <label>Assign Action Plan To Visit</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>NewActionPlan.ActionPlanTemplateVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetActionPlanTemplateVersion.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.TargetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetVisitRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetActionPlanTemplate.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.ActionPlanType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actionplantempitem</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>litral</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>ActionPlanTemplateActivated</name>
        <label>Action Plan Template Activated</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Action Plan Template Is  Not Active</defaultConnectorLabel>
        <rules>
            <name>ActionPlanTemplateIsActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActionPlanTemplateVersion.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignActionPlanToVisit</targetReference>
            </connector>
            <label>Action Plan Template Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActionPlanTemplateCheck</name>
        <label>Action Plan Template Check</label>
        <locationX>611</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Template Name Not Available</defaultConnectorLabel>
        <rules>
            <name>TemplateNameAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionPlanTemplateName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActionPlanTemplate</targetReference>
            </connector>
            <label>Template Name Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActionPlanTemplateIDcheck</name>
        <label>Action Plan Template ID check</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Action Plan Template Not Found</defaultConnectorLabel>
        <rules>
            <name>ActionPlanTemplateFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActionPlanTemplate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActionPlanTemplateVersion</targetReference>
            </connector>
            <label>Action Plan Template Found</label>
        </rules>
    </decisions>
    <description>ALR-1230 V2</description>
    <environments>Default</environments>
    <interviewLabel>InspectionAssessmentTaskCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InspectionAssessmentTaskCreation</label>
    <loops>
        <name>ActionPlanItemValues</name>
        <label>ActionPlanItemValues</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <collectionReference>Actionplantempitem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ActionPlanItemIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssessmentTaskController</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Actionplantempitem</name>
        <label>Actionplantempitem</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActionPlanItemValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewActionPlan.ActionPlanTemplateVersionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ItemEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AssessmentTask</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ActionPlanTemplateItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActionPlanTemplate</name>
        <label>Get Action Plan Template</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActionPlanTemplateIDcheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActionPlanTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActionPlanTemplateVersion</name>
        <label>Get Action Plan Template Version</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActionPlanTemplateActivated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetActionPlanTemplate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVisitRecord</name>
        <label>Get Visit Record</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Template_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetVisitRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VisitTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Visit</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActionPlanRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ActionPlanTemplateItem</objectType>
    </variables>
    <variables>
        <name>ActionPlanTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AIDRecsforcreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentIndicatorDefinition</objectType>
    </variables>
    <variables>
        <name>Assessmentskdef</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Assessmnttask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>AssTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ATIdValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ActionPlanTemplateItem</objectType>
    </variables>
    <variables>
        <name>ATIId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ATIvalues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ActionPlanItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ActionPlanTemplateItemValue</objectType>
    </variables>
    <variables>
        <name>IAIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>InsAssessIndi</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>InspectionAssIndicator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>literalv</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>NewActionPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ActionPlan</objectType>
    </variables>
    <variables>
        <name>newAssessmnttask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreLiteralValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssessmentTaskDefinition</objectType>
    </variables>
    <variables>
        <name>taskliteralvalues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>Testt</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
</Flow>
