src/main/default/flows/Manage_Service_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Hospitality_Service_record_to_collection</name>
        <label>Assign Hospitality Service record to collection</label>
        <locationX>908</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecord2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecord3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecord4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecord5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_each_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_hospitality_service_record_values</name>
        <label>Assign hospitality service record values</label>
        <locationX>908</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>ServiceRecord.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MealServices</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvidedBy1_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord2.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyResponseSystem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord2.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvidedBy2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MealServices</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyResponseSystem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord2.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hospitality Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord2.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hospitality Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment1_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord2.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord3.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord3.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housekeeping</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord3.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housekeeping</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord3.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvidedBy3_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord3.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hospitality Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord3.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment3_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord4.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord4.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Laundry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord4.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Laundry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord4.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvidedBy4_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord4.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hospitality Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord4.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment4_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord5.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord5.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SocialandRecreationalOpps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord5.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SocialandRecreationalOpps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord5.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvidedBy5_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord5.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hospitality Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord5.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment5_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Hospitality_Service_record_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_record_to_collection</name>
        <label>Assign Service record to collection</label>
        <locationX>644</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_each_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_service_record_values</name>
        <label>Assign service record values</label>
        <locationX>644</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>ServiceRecordVar.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceNameList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvidedByList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceNameList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assisted Living Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_record_to_collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>ALR-664</description>
        <name>AssistancemanagingtherapeuticdietsChoice</name>
        <choiceText>{!Assistancemanagingtherapeuticdiets}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Assistancemanagingtherapeuticdiets</elementReference>
        </value>
    </choices>
    <choices>
        <description>ALR-664</description>
        <name>AssistancewithbehaviourmanagementChoice</name>
        <choiceText>{!Assistancewithbehaviourmanagement}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Assistancewithbehaviourmanagement</elementReference>
        </value>
    </choices>
    <choices>
        <description>ALR-664</description>
        <name>AssistancewithdailylivingactivitiesChoice</name>
        <choiceText>{!Assistancewithdailylivingactivities}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Assistancewithdailylivingactivities</elementReference>
        </value>
    </choices>
    <choices>
        <description>ALR-664</description>
        <name>AssistancewithmanagingmedicationChoice</name>
        <choiceText>{!Assistancewithmanagingmedication}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Assistancewithmanagingmedication</elementReference>
        </value>
    </choices>
    <choices>
        <description>ALR-664</description>
        <name>PsychosocialsupportChoice</name>
        <choiceText>{!Psychosocialsupport}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Psychosocialsupport</elementReference>
        </value>
    </choices>
    <choices>
        <description>ALR-664</description>
        <name>SafekeepingofmoneypersonalpropertyChoice</name>
        <choiceText>{!Safekeepingofmoneypersonalproperty}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Safekeepingofmoneypersonalproperty</elementReference>
        </value>
    </choices>
    <constants>
        <name>Assistancemanagingtherapeuticdiets</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistance managing therapeutic diets</stringValue>
        </value>
    </constants>
    <constants>
        <name>Assistancewithbehaviourmanagement</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistance with behaviour management</stringValue>
        </value>
    </constants>
    <constants>
        <name>Assistancewithdailylivingactivities</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistance with daily living activities</stringValue>
        </value>
    </constants>
    <constants>
        <name>Assistancewithmanagingmedication</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistance with managing medication</stringValue>
        </value>
    </constants>
    <constants>
        <name>EmergencyResponseSystem</name>
        <dataType>String</dataType>
        <value>
            <stringValue>24-Hour Emergency Response System</stringValue>
        </value>
    </constants>
    <constants>
        <name>Housekeeping</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Housekeeping</stringValue>
        </value>
    </constants>
    <constants>
        <name>Laundry</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Laundry</stringValue>
        </value>
    </constants>
    <constants>
        <name>MealServices</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Meal Services</stringValue>
        </value>
    </constants>
    <constants>
        <name>Psychosocialsupport</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Psychosocial support</stringValue>
        </value>
    </constants>
    <constants>
        <name>Safekeepingofmoneypersonalproperty</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Safekeeping of money/personal property</stringValue>
        </value>
    </constants>
    <constants>
        <name>SocialandRecreationalOpps</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Social and Recreational Opps</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_service_exists</name>
        <label>Check service exists</label>
        <locationX>1128</locationX>
        <locationY>1130</locationY>
        <defaultConnector>
            <targetReference>Create_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service does not exists</defaultConnectorLabel>
        <rules>
            <name>Service_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Service_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Service</targetReference>
            </connector>
            <label>Service exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Type</name>
        <label>Check Service Type</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Hospitality_Service_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hospitality Service</defaultConnectorLabel>
        <rules>
            <name>ALS_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceTypeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssistedLivingService</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ALS_Service_Screen</targetReference>
            </connector>
            <label>ALS Service</label>
        </rules>
    </decisions>
    <description>ALR-33 , added UI changes - ALR-664</description>
    <dynamicChoiceSets>
        <name>ProvidedByValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProvidedBy__c</picklistField>
        <picklistObject>Service__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>ALR-664</description>
        <name>ServiceNameALS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceName__c</picklistField>
        <picklistObject>Service__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceNameValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceName__c</picklistField>
        <picklistObject>Service__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceType__c</picklistField>
        <picklistObject>Service__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>serviceTypes</name>
        <dataType>String</dataType>
        <expression>IF({!serviceTypeValue} ==&apos;AssistedLivingService&apos;, &apos;Assisted Living Service&apos;, &apos;Hospitality Service&apos;)</expression>
    </formulas>
    <interviewLabel>Manage Service Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Service Screen Flow</label>
    <loops>
        <name>Loop_through_each_Service</name>
        <label>Loop through each Service</label>
        <locationX>776</locationX>
        <locationY>914</locationY>
        <collectionReference>ServiceRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Existing_Service_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Service</name>
        <label>Create Service</label>
        <locationX>1392</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Loop_through_each_Service</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Loop_through_each_Service.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Loop_through_each_Service.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProvidedBy__c</field>
            <value>
                <elementReference>Loop_through_each_Service.ProvidedBy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ServiceRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceName__c</field>
            <value>
                <elementReference>Loop_through_each_Service.ServiceName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceType__c</field>
            <value>
                <elementReference>Loop_through_each_Service.ServiceType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Service_Records</name>
        <label>Get Existing Service Records</label>
        <locationX>1128</locationX>
        <locationY>1022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_service_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_each_Service.ServiceName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Record_Type</name>
        <label>Get Service Record Type</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Service_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ResidenceServices</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ServiceRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Service</name>
        <label>Update Existing Service</label>
        <locationX>864</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Loop_through_each_Service</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_each_Service.ServiceName__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Loop_through_each_Service.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProvidedBy__c</field>
            <value>
                <elementReference>Loop_through_each_Service.ProvidedBy__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <screens>
        <name>ALS_Service_Screen</name>
        <label>ALS Service Screen</label>
        <locationX>644</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_service_record_values</targetReference>
        </connector>
        <fields>
            <name>ALS_Service_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ALS_Service_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceNameList</name>
                    <choiceReferences>AssistancewithdailylivingactivitiesChoice</choiceReferences>
                    <choiceReferences>AssistancewithmanagingmedicationChoice</choiceReferences>
                    <choiceReferences>SafekeepingofmoneypersonalpropertyChoice</choiceReferences>
                    <choiceReferences>AssistancemanagingtherapeuticdietsChoice</choiceReferences>
                    <choiceReferences>AssistancewithbehaviourmanagementChoice</choiceReferences>
                    <choiceReferences>PsychosocialsupportChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assisted Living Service</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvidedByList</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CommentsValue</name>
                    <dataType>String</dataType>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ALS_Service_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ALS_Service_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1128</locationX>
        <locationY>1346</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Err</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(211, 15, 15); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hospitality_Service_Screen</name>
        <label>Hospitality Service Screen</label>
        <locationX>908</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_hospitality_service_record_values</targetReference>
        </connector>
        <fields>
            <name>ServiceNamefield1_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Hospitality Services&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hospitality_Service_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hospitality_Service_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cfhg</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ServiceName1_0</name>
                    <fieldText>&lt;p&gt;{!MealServices}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvidedBy1_0</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comment1_0</name>
                    <dataType>String</dataType>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hospitality_Service_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hospitality_Service_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceNameField2_0</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ServiceName2_0</name>
                    <fieldText>&lt;p&gt;{!EmergencyResponseSystem}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvidedBy2_0</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comment2_0</name>
                    <dataType>String</dataType>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hospitality_Service_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hospitality_Service_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceNameField3_0</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ServiceName3_0</name>
                    <fieldText>&lt;p&gt;{!Housekeeping}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvidedBy3_0</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comment3_0</name>
                    <dataType>String</dataType>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hospitality_Service_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hospitality_Service_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceNameField4_0</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ServiceName4_0</name>
                    <fieldText>&lt;p&gt;{!Laundry}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvidedBy4_0</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comment4_0</name>
                    <dataType>String</dataType>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hospitality_Service_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hospitality_Service_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceNameField5_0</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ServiceName5_0</name>
                    <fieldText>&lt;p&gt;{!SocialandRecreationalOpps}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvidedBy5_0</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comment5_0</name>
                    <dataType>String</dataType>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>776</locationX>
        <locationY>1754</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(54, 169, 11);&quot;&gt;{!serviceTypes} has been created successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingServices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecord3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecord4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecord5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecord6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Service Record in ALR</description>
        <name>ServiceRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>serviceTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
