src/main/default/flows/Manage_Service_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Hospitality_Service_record_to_collection</name>
        <label>Assign Hospitality Service record to collection</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecord2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecord3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecord4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecord5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_each_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_hospitality_service_record_values</name>
        <label>Assign hospitality service record values</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>ServiceRecord.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MealServices</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvidedBy1_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord2.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyResponseSystem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord2.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvidedBy2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MealServices</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyResponseSystem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord2.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hospitality Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord2.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hospitality Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment1_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord2.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord3.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord3.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housekeeping</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord3.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housekeeping</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord3.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvidedBy3_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord3.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hospitality Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord3.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment3_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord4.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord4.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Laundry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord4.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Laundry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord4.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvidedBy4_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord4.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hospitality Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord4.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment4_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord5.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord5.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SocialandRecreationalOpps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord5.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SocialandRecreationalOpps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord5.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvidedBy5_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord5.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hospitality Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord5.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment5_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Hospitality_Service_record_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_record_to_collection</name>
        <label>Assign Service record to collection</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecordVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecVar3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecordVar21</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecVar4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecVar5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecVar6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_each_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_service_record_values</name>
        <label>Assign service record values</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>ServiceRecordVar.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssistancewithdailylivingactivitiesChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provided_By1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssistancewithdailylivingactivitiesChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assisted Living Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar21.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provided_By2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar21.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar21.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar21.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assisted Living Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar21.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssistancewithbehaviourmanagementChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar21.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assistancewithbehaviourmanagement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar3.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provided_By83</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar3.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar3.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar3.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assisted Living Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar3.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assistancemanagingtherapeuticdiets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar3.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssistancemanagingtherapeuticdietsChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar4.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provided_By4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar4.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar4.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar4.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assisted Living Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar4.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssistancewithmanagingmedicationChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar4.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssistancewithmanagingmedicationChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar5.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provided_By5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar5.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar5.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar5.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assisted Living Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar5.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PsychosocialsupportChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar5.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PsychosocialsupportChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar6.ProvidedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provided_By6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar6.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar6.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar6.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assisted Living Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar6.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SafekeepingofmoneypersonalpropertyChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar6.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SafekeepingofmoneypersonalpropertyChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecordVar21.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar3.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar4.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar5.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecVar6.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_record_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentforStatusDecision</name>
        <label>AssignmentforStatusDecision</label>
        <locationX>1326</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>ALServiceStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_each_Service.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ALServiceNameCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_each_Service.ServiceName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ALServiceCountRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_each_Service.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_each_Service.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_ALSActiveError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignmentforstatusdecisioncheck</name>
        <label>Assignmentforstatusdecisioncheck</label>
        <locationX>534</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>ALServiceStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_each_Service.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ALServiceNameCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_each_Service.ServiceName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ALServiceCountRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_each_Service.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_each_Service.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ALSActiveErrorMessageDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountAddAssignment</name>
        <label>CountAddAssignment</label>
        <locationX>622</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>ALSCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ALServiceNameCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopForCount.ServiceName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopForCount</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>ALR-664</description>
        <name>AssistancemanagingtherapeuticdietsChoice</name>
        <choiceText>{!Assistancemanagingtherapeuticdiets}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Assistancemanagingtherapeuticdiets</elementReference>
        </value>
    </choices>
    <choices>
        <description>ALR-664</description>
        <name>AssistancewithbehaviourmanagementChoice</name>
        <choiceText>{!Assistancewithbehaviourmanagement}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Assistancewithbehaviourmanagement</elementReference>
        </value>
    </choices>
    <choices>
        <description>ALR-664</description>
        <name>AssistancewithdailylivingactivitiesChoice</name>
        <choiceText>{!Assistancewithdailylivingactivities}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Assistancewithdailylivingactivities</elementReference>
        </value>
    </choices>
    <choices>
        <description>ALR-664</description>
        <name>AssistancewithmanagingmedicationChoice</name>
        <choiceText>{!Assistancewithmanagingmedication}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Assistancewithmanagingmedication</elementReference>
        </value>
    </choices>
    <choices>
        <description>ALR-664</description>
        <name>PsychosocialsupportChoice</name>
        <choiceText>{!Psychosocialsupport}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Psychosocialsupport</elementReference>
        </value>
    </choices>
    <choices>
        <description>ALR-664</description>
        <name>SafekeepingofmoneypersonalpropertyChoice</name>
        <choiceText>{!Safekeepingofmoneypersonalproperty}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Safekeepingofmoneypersonalproperty</elementReference>
        </value>
    </choices>
    <constants>
        <name>Assistancemanagingtherapeuticdiets</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistance Managing Therapeutic Diets</stringValue>
        </value>
    </constants>
    <constants>
        <name>Assistancewithbehaviourmanagement</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistance with Behaviour Management</stringValue>
        </value>
    </constants>
    <constants>
        <name>Assistancewithdailylivingactivities</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistance with Daily Living Activities</stringValue>
        </value>
    </constants>
    <constants>
        <name>Assistancewithmanagingmedication</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistance with Managing Medication</stringValue>
        </value>
    </constants>
    <constants>
        <name>EmergencyResponseSystem</name>
        <dataType>String</dataType>
        <value>
            <stringValue>24-Hour Emergency Response System</stringValue>
        </value>
    </constants>
    <constants>
        <name>Housekeeping</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Housekeeping</stringValue>
        </value>
    </constants>
    <constants>
        <name>Laundry</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Laundry</stringValue>
        </value>
    </constants>
    <constants>
        <name>MealServices</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Meal Services</stringValue>
        </value>
    </constants>
    <constants>
        <name>Psychosocialsupport</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Psychosocial Support</stringValue>
        </value>
    </constants>
    <constants>
        <name>Safekeepingofmoneypersonalproperty</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Safekeeping of Money/Personal Property</stringValue>
        </value>
    </constants>
    <constants>
        <name>SocialandRecreationalOpps</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Social and Recreational Opps</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ALSActiveErrorMessageDecision</name>
        <label>ALSActiveError</label>
        <locationX>534</locationX>
        <locationY>2786</locationY>
        <defaultConnector>
            <targetReference>ErrorActiveMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ALSActiveError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_each_Service.ServiceType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assisted Living Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ALSCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>statusCollectionVariable</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Service</targetReference>
            </connector>
            <label>ALSActiveError</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_service_exists</name>
        <label>Check service exists</label>
        <locationX>930</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>AssignmentforStatusDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service does not exists</defaultConnectorLabel>
        <rules>
            <name>Service_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Service_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopForCount</targetReference>
            </connector>
            <label>Service exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Type</name>
        <label>Check Service Type</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Hospitality_Service_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hospitality Service</defaultConnectorLabel>
        <rules>
            <name>ALS_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceTypeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssistedLivingService</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ALS_Service_Screen</targetReference>
            </connector>
            <label>ALS Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_ALSActiveError</name>
        <label>Copy 2 of ALSActiveError</label>
        <locationX>1326</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>ErrorActiveMessageScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ALSActiveError1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_each_Service.ServiceType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assisted Living Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>statusCollectionVariable</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service</targetReference>
            </connector>
            <label>ALSActiveError1</label>
        </rules>
    </decisions>
    <description>ALR-33 , updated UI and made comments not reqd - ALR-664, updated UI as part of ALR-722</description>
    <dynamicChoiceSets>
        <name>ProvidedByValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProvidedBy__c</picklistField>
        <picklistObject>Service__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>ALR-664</description>
        <name>ServiceNameALS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceName__c</picklistField>
        <picklistObject>Service__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceNameValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceName__c</picklistField>
        <picklistObject>Service__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceType__c</picklistField>
        <picklistObject>Service__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Service__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>serviceTypes</name>
        <dataType>String</dataType>
        <expression>IF({!serviceTypeValue} ==&apos;AssistedLivingService&apos;, &apos;Assisted Living Service&apos;, &apos;Hospitality Service&apos;)</expression>
    </formulas>
    <formulas>
        <name>statusFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!statusCollectionVariable} != Null, true, false)</expression>
    </formulas>
    <formulas>
        <name>test1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!ALServiceName} != Null, true, false)</expression>
    </formulas>
    <interviewLabel>Manage Service Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Service Screen Flow</label>
    <loops>
        <name>Loop_through_each_Service</name>
        <label>Loop through each Service</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <collectionReference>ServiceRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Existing_Service_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopForCount</name>
        <label>LoopForCount</label>
        <locationX>534</locationX>
        <locationY>2378</locationY>
        <collectionReference>Get_Existing_Service_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountAddAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignmentforstatusdecisioncheck</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Service</name>
        <label>Create Service</label>
        <locationX>1062</locationX>
        <locationY>2594</locationY>
        <connector>
            <targetReference>Loop_through_each_Service</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Loop_through_each_Service.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Loop_through_each_Service.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProvidedBy__c</field>
            <value>
                <elementReference>Loop_through_each_Service.ProvidedBy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ServiceRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceName__c</field>
            <value>
                <elementReference>Loop_through_each_Service.ServiceName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceType__c</field>
            <value>
                <elementReference>Loop_through_each_Service.ServiceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Loop_through_each_Service.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Service_Records</name>
        <label>Get Existing Service Records</label>
        <locationX>930</locationX>
        <locationY>2162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_service_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_each_Service.ServiceName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Record_Type</name>
        <label>Get Service Record Type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingRecordALSAssistancewithDailyLivingActivities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ResidenceServices</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ServiceRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetExistingRecordALS24HourEmergencyResponseSystem</name>
        <label>GetExistingRecordALS24HourEmergencyResponseSystem</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingRecordALSLaundry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>24-Hour Emergency Response System</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <outputReference>ServiceName24HourEmergencyResponseSystem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>ServiceName__c</queriedFields>
        <queriedFields>ProvidedBy__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExistingRecordALSAssistanceManagingTherapeuticDiets</name>
        <label>GetExistingRecordALSAssistanceManagingTherapeuticDiets</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingRecordALSSafekeepingofMoney_PersonalProperty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistance Managing Therapeutic Diets</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <outputReference>ServiceNameAssistanceManagingTherapeuticDiets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>ServiceName__c</queriedFields>
        <queriedFields>ProvidedBy__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExistingRecordALSAssistancewithBehaviourManagement</name>
        <label>GetExistingRecordALSAssistancewithBehaviourManagement</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingRecordALSAssistancewithManagingMedication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistance with Behaviour Management</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <outputReference>ServiceNameAssistancewithBehaviourManagement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProvidedBy__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>ServiceName__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExistingRecordALSAssistancewithDailyLivingActivities</name>
        <label>GetExistingRecordALSAssistancewithDailyLivingActivities</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingRecordALSAssistancewithBehaviourManagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistance with Daily Living Activities</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <outputReference>ServiceNameAssistancewithDailyLivingActivities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProvidedBy__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>ServiceName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExistingRecordALSAssistancewithManagingMedication</name>
        <label>GetExistingRecordALSAssistancewithManagingMedication</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingRecordALSAssistanceManagingTherapeuticDiets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assistance with Managing Medication</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <outputReference>ServiceNameAssistancewithManagingMedication</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceName__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>ProvidedBy__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExistingRecordALSHousekeeping</name>
        <label>GetExistingRecordALSHousekeeping</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingRecordALSSocialandRecreationalOpps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Housekeeping</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <outputReference>ServiceNameHousekeeping</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>ProvidedBy__c</queriedFields>
        <queriedFields>ServiceName__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExistingRecordALSLaundry</name>
        <label>GetExistingRecordALSLaundry</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Service_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Laundry</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <outputReference>ServiceNameLaundry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>ServiceName__c</queriedFields>
        <queriedFields>ProvidedBy__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExistingRecordALSMealServices</name>
        <label>GetExistingRecordALSMealServices</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingRecordALSHousekeeping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meal Services</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <outputReference>ServiceNameMealServices</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceName__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>ProvidedBy__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExistingRecordALSPsychosocialSupport</name>
        <label>GetExistingRecordALSPsychosocialSupport</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingRecordALSMealServices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Psychosocial Support</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <outputReference>ServiceNamePsychosocialSupport</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceName__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>ProvidedBy__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExistingRecordALSSafekeepingofMoney_PersonalProperty</name>
        <label>GetExistingRecordALSSafekeepingofMoney/PersonalProperty</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingRecordALSPsychosocialSupport</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Safekeeping of Money/Personal Property</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <outputReference>ServiceNameSafekeepingofMoneyPersonalProperty</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProvidedBy__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>ServiceName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExistingRecordALSSocialandRecreationalOpps</name>
        <label>GetExistingRecordALSSocialandRecreationalOpps</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingRecordALS24HourEmergencyResponseSystem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Social and Recreational Opps</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <outputReference>ServiceNameSocialandRecreationalOpps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>ProvidedBy__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>ServiceName__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Service</name>
        <label>Update Existing Service</label>
        <locationX>270</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>Loop_through_each_Service</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_each_Service.ServiceName__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Loop_through_each_Service.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProvidedBy__c</field>
            <value>
                <elementReference>Loop_through_each_Service.ProvidedBy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Loop_through_each_Service.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <screens>
        <name>ALS_Service_Screen</name>
        <label>ALS Service Screen</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_service_record_values</targetReference>
        </connector>
        <fields>
            <name>ALS_Service_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ALS_Service_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ALSD2</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ALS2</name>
                    <fieldText>&lt;p&gt;{!AssistancewithdailylivingactivitiesChoice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provided_By2</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameAssistancewithDailyLivingActivities.ProvidedBy__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comments2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameAssistancewithDailyLivingActivities.Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status1</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameAssistancewithDailyLivingActivities.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ALS_Service_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ALS_Service_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ALSD3</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ALS3</name>
                    <fieldText>&lt;p&gt;{!AssistancewithmanagingmedicationChoice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provided_By83</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameAssistancewithManagingMedication.ProvidedBy__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comments3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameAssistancewithManagingMedication.Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status2</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameAssistancewithManagingMedication.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ALS_Service_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ALS_Service_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ALSD4</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ALS4</name>
                    <fieldText>&lt;p&gt;{!SafekeepingofmoneypersonalpropertyChoice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provided_By4</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameSafekeepingofMoneyPersonalProperty.ProvidedBy__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comments4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameSafekeepingofMoneyPersonalProperty.Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status3</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameSafekeepingofMoneyPersonalProperty.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ALS_Service_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ALS_Service_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ALSD5</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ALS5</name>
                    <fieldText>&lt;p&gt;{!AssistancemanagingtherapeuticdietsChoice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provided_By5</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameAssistanceManagingTherapeuticDiets.ProvidedBy__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comments5</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameAssistanceManagingTherapeuticDiets.Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status4</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameAssistanceManagingTherapeuticDiets.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ALS_Service_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ALS_Service_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ALDS6</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ALS6</name>
                    <fieldText>&lt;p&gt;{!AssistancewithbehaviourmanagementChoice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provided_By6</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameAssistancewithBehaviourManagement.ProvidedBy__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comments6</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameAssistancewithBehaviourManagement.Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status5</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameAssistancewithBehaviourManagement.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ALS_Service_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ALS_Service_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ALSD1</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ALS1</name>
                    <fieldText>&lt;p&gt;{!PsychosocialsupportChoice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provided_By1</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNamePsychosocialSupport.ProvidedBy__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comments1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNamePsychosocialSupport.Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ALS_Service_Screen_Section6_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status6</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNamePsychosocialSupport.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ALS_Service_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ALS_Service_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>534</locationX>
        <locationY>3002</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Err</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(211, 15, 15); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorActiveMessage</name>
        <label>ErrorActiveMessage</label>
        <locationX>798</locationX>
        <locationY>2894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorActive</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(211, 51, 27); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 18px; background-color: rgba(9, 30, 66, 0.06);&quot;&gt;&lt;em&gt;At least one AL Service must be active.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorActiveMessageScreen</name>
        <label>ErrorActiveMessageScreen</label>
        <locationX>1590</locationX>
        <locationY>2594</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorActive</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(211, 51, 27); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 18px; background-color: rgba(9, 30, 66, 0.06);&quot;&gt;&lt;em&gt;At least one AL Service must be active.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hospitality_Service_Screen</name>
        <label>Hospitality Service Screen</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_hospitality_service_record_values</targetReference>
        </connector>
        <fields>
            <name>ServiceNamefield1_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Hospitality Services&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hospitality_Service_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hospitality_Service_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cfhg</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ServiceName1_0</name>
                    <fieldText>&lt;p&gt;{!MealServices}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvidedBy1_0</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameMealServices.ProvidedBy__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comment1_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameMealServices.Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hospitality_Service_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hospitality_Service_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceNameField2_0</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ServiceName2_0</name>
                    <fieldText>&lt;p&gt;{!EmergencyResponseSystem}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvidedBy2_0</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceName24HourEmergencyResponseSystem.ProvidedBy__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comment2_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceName24HourEmergencyResponseSystem.Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hospitality_Service_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hospitality_Service_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceNameField3_0</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ServiceName3_0</name>
                    <fieldText>&lt;p&gt;{!Housekeeping}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvidedBy3_0</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameHousekeeping.ProvidedBy__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comment3_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameHousekeeping.Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hospitality_Service_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hospitality_Service_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceNameField4_0</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ServiceName4_0</name>
                    <fieldText>&lt;p&gt;{!Laundry}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvidedBy4_0</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameLaundry.ProvidedBy__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comment4_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameLaundry.Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hospitality_Service_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hospitality_Service_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceNameField5_0</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ServiceName5_0</name>
                    <fieldText>&lt;p&gt;{!SocialandRecreationalOpps}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvidedBy5_0</name>
                    <choiceReferences>ProvidedByValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameSocialandRecreationalOpps.ProvidedBy__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospitality_Service_Screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comment5_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceNameSocialandRecreationalOpps.Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>182</locationX>
        <locationY>3494</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(54, 169, 11);&quot;&gt;{!serviceTypes} has been created successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ALSCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ALServiceCountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ALServiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ALServiceNameCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ALServiceNameCollections</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ALServiceRecordCount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ALServiceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CollectionALSHLSServiceName1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingServices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>getRecordsALSExisting</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceName24HourEmergencyResponseSystem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceNameAssistanceManagingTherapeuticDiets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceNameAssistancewithBehaviourManagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceNameAssistancewithDailyLivingActivities</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceNameAssistancewithManagingMedication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceNameHousekeeping</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceNameLaundry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceNameMealServices</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceNamePsychosocialSupport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceNameSafekeepingofMoneyPersonalProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceNameSocialandRecreationalOpps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecord3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecord4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecord5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecord6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Service Record in ALR</description>
        <name>ServiceRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecordVar2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceRecordVar21</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecVar3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecVar4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecVar5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceRecVar6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServiceTypeALS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>serviceTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>statusCollectionVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>testfor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
