src/main/default/flows/Manage_Units_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignmentQuantity</name>
        <label>AssignmentQuantity</label>
        <locationX>814</locationX>
        <locationY>1242</locationY>
        <assignmentItems>
            <assignToReference>TotalQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQuantity.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuantity</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>chilUnitName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Unit Request</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Invoice_generated_is_checked</name>
        <label>Check Invoice generated is checked.</label>
        <locationX>970</locationX>
        <locationY>1010</locationY>
        <defaultConnector>
            <targetReference>AssignmentQuantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Generate Invoice is not checked</defaultConnectorLabel>
        <rules>
            <name>Generate_Invoice_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopQuantity.GenerateInvoice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Generate Invoice is checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckParent</name>
        <label>Decision: Check Parent</label>
        <locationX>694</locationX>
        <locationY>748</locationY>
        <defaultConnector>
            <targetReference>UpdateUnit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision Outcome: Parent Not Found</defaultConnectorLabel>
        <rules>
            <name>ParentFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordsGetParentUnit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateParentId</targetReference>
            </connector>
            <label>Decision Outcome: Parent Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Status</name>
        <dataType>String</dataType>
        <expression>IF ({!$Record.GenerateInvoice__c} == false,&apos;Waived&apos;,&apos;Pending Invoice&apos;)</expression>
    </formulas>
    <interviewLabel>Manage Units After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Units After Save</label>
    <loops>
        <name>LoopQuantity</name>
        <label>LoopQuantity</label>
        <locationX>567</locationX>
        <locationY>1019</locationY>
        <collectionReference>GetChildRecordsToUpdateQuantity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Invoice_generated_is_checked</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateParentQuantity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Unit</name>
        <label>Create Records : Create Child Unit</label>
        <locationX>1179</locationX>
        <locationY>525</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenerateInvoice__c</field>
            <value>
                <elementReference>$Record.GenerateInvoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>chilUnitName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>unitRequestRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetChildRecordsToUpdateQuantity</name>
        <label>GetChildRecordsToUpdateQuantity</label>
        <locationX>257</locationX>
        <locationY>675</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopQuantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Capacity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRequestRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordsGetParentUnit</name>
        <label>Get Records: Get Parent Unit</label>
        <locationX>699</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckParent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Capacity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Capacity__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUnitRecordType</name>
        <label>getUnitRecordType</label>
        <locationX>699</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUnitRequestRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Units_Record_Type</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>unitRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getUnitRequestRecordType</name>
        <label>getUnitRequestRecordType</label>
        <locationX>699</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordsGetParentUnit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unit_Request_Record_Type</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>unitRequestRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateParentId</name>
        <label>UpdateParentId</label>
        <locationX>390</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>GetChildRecordsToUpdateQuantity</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>chilUnitName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetRecordsGetParentUnit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>unitRequestRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParentQuantity</name>
        <label>UpdateParentQuantity</label>
        <locationX>501</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>TotalQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateUnit</name>
        <label>UpdateUnit</label>
        <locationX>936</locationX>
        <locationY>524</locationY>
        <connector>
            <targetReference>Create_Child_Unit</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>GenerateInvoice__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>unitRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>573</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getUnitRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>unitRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unitRequestRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
