src/main/default/flows/UpdateAssessmentTaskStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>countalliaiRecords</name>
        <label>countalliaiRecords</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>CountAllRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetALLAIAIRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCompletedIAIRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountTextFieldResponse</name>
        <label>CountTextFieldResponse</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>CountTextField</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetALLTextFieldResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfAllCompleted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetAllCompletedIAIRecords</name>
        <label>GetAllCompletedIAIRecords</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>CompletedCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetCompletedIAIRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetALLTextFieldResponse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateFieldToBlank</name>
        <label>UpdateFieldToBlank</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>UpdateToBlank</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_TextResponse_Blank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getALLInspectionRecord</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Compliant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliant</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Result</name>
        <label>Check Result</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>UpdateFieldToBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TextFieldResponse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Response_as_Compliant</targetReference>
            </connector>
            <label>Update Compliant</label>
        </rules>
        <rules>
            <name>Update_Field_Response_Blank</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-compliant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TextResponse_Blank</targetReference>
            </connector>
            <label>Update Field Response Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfAllCompleted</name>
        <label>CheckIfAllCompleted</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>UpdateInProgress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckIfAllIAICompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompletedCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountAllRecords</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CompletedCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountTextField</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdateToBlank</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATETOCOMPLETED</targetReference>
            </connector>
            <label>CheckIfAllIAICompleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Refresh</name>
        <label>Decision on Refresh</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refresh_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-compliant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Tab_Refresh_Event</targetReference>
            </connector>
            <label>Refresh Activity</label>
        </rules>
        <rules>
            <name>Refresh_NA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Tab_Refresh_Event</targetReference>
            </connector>
            <label>Refresh NA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdateAssessmentStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateAssessmentTaskStatus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Tab_Refresh_Event</name>
        <label>Publish Tab Refresh Event</label>
        <locationX>314</locationX>
        <locationY>2195</locationY>
        <inputAssignments>
            <field>RecordIDs__c</field>
            <value>
                <elementReference>updateInspectionAssessmentIndicator</elementReference>
            </value>
        </inputAssignments>
        <object>RefreshEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetALLAIAIRecords</name>
        <label>GetALLAIAIRecords</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countalliaiRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentTaskId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssessmentTaskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InspectionAssessmentInd</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getALLInspectionRecord</name>
        <label>getALLInspectionRecord</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateInspectionAssessmentIndicator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentTaskId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssessmentTaskId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </filters>
        <filters>
            <field>TextFieldResponse</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InspectionAssessmentInd</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetALLTextFieldResponse</name>
        <label>GetALLTextFieldResponse</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountTextFieldResponse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentTaskId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssessmentTaskId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TextFieldResponse</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InspectionAssessmentInd</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCompletedIAIRecords</name>
        <label>GetCompletedIAIRecords</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllCompletedIAIRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentTaskId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssessmentTaskId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InspectionAssessmentInd</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Response_as_Compliant</name>
        <label>Update Response as Compliant</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>UpdateFieldToBlank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Result</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TextFieldResponse</field>
            <value>
                <elementReference>Compliant</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TextResponse_Blank</name>
        <label>Update TextResponse Blank</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>UpdateFieldToBlank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TextFieldResponse</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TextFieldResponse</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInProgress</name>
        <label>UpdateInProgress</label>
        <locationX>446</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Decision_on_Refresh</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssessmentTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </inputAssignments>
        <object>AssessmentTask</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateInspectionAssessmentIndicator</name>
        <label>updateInspectionAssessmentIndicator</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>GetALLAIAIRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentTaskId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssessmentTaskId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TextFieldResponse</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Result</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TextFieldResponse</field>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </inputAssignments>
        <object>InspectionAssessmentInd</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATETOCOMPLETED</name>
        <label>UPDATETOCOMPLETED</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Decision_on_Refresh</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssessmentTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>AssessmentTask</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Result</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Result</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TextFieldResponse</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>InspectionAssessmentInd</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CompletedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountAllRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountTextField</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UpdateToBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
