src-access-mgmt/main/default/permissionsets/Create_Condition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <dynamicChoiceSets>
        <name>ConiditionName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_Name__c</picklistField>
        <picklistObject>Conditions__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Condition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Condition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Condition_Record</name>
        <label>Create Condition Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>varCurrentACCId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_Name__c</field>
            <value>
                <elementReference>Condition_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_From__c</field>
            <value>
                <elementReference>Effective_From</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_To__c</field>
            <value>
                <elementReference>Effective_To</elementReference>
            </value>
        </inputAssignments>
        <object>Conditions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>New_Condition</name>
        <label>New Condition</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Condition_Record</targetReference>
        </connector>
        <fields>
            <name>Condition_Details</name>
            <fieldText>Condition Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Condition_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Condition_Name</name>
                    <choiceReferences>ConiditionName</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Condition Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Condition_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Effective_From</name>
                    <dataType>Date</dataType>
                    <fieldText>Effective From</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Effective_To</name>
                    <dataType>Date</dataType>
                    <fieldText>Effective To</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Condition</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCurrentACCId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
