ehis-source/app-segmentationterritories/main/default/flows/Record_Triggered_Account_Address_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>PL_Associated_Location_Error</name>
        <label>PL Associated Location Error</label>
        <locationX>1634</locationX>
        <locationY>1187</locationY>
        <customErrorMessages>
            <errorMessage>Error in Creating Physical Location Associated Location Records</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>PL_Location_Error</name>
        <label>PL Location Error</label>
        <locationX>1898</locationX>
        <locationY>971</locationY>
        <customErrorMessages>
            <errorMessage>Error in Creating Physical Location Location Records</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>LocationType_Check</name>
        <label>LocationType Check</label>
        <locationX>1205</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Physical_Address_Records</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Physical_Address__Street__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PA_Location_Records</targetReference>
            </connector>
            <label>Physical Address Records</label>
        </rules>
        <rules>
            <name>Physical_Location_Records</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PhysicalLocation__Latitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PhysicalLocation__Longitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PL_Location_Records</targetReference>
            </connector>
            <label>Physical Location Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>PA_Associated_Location_Availability_Check</name>
        <label>PA Associated Location Availability Check</label>
        <locationX>446</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Create_PA_AssosciatedLocation_Records2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PA_Associated_Location_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AssociatedLocation_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PA_Associated_Loc_Record</targetReference>
            </connector>
            <label>PA Associated Location Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>PA_Location_Records_Check</name>
        <label>PA Location Records Check</label>
        <locationX>248</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Create_PA_Location_Record2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PA_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PA_Location_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_AssociatedLocation_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PA_Associated_Loc_Record1</targetReference>
            </connector>
            <label>PA Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>PL_Associated_Location_Check1</name>
        <label>PL Associated Location Check</label>
        <locationX>1238</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Create_PL_AssosciatedLocation_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PL_Associated_Loc_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AssociatedLocation_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PL_Associated_Loc</targetReference>
            </connector>
            <label>PL Associated Loc Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>PL_Location_Records_Check</name>
        <label>PL Location Records Check</label>
        <locationX>1040</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Create_PL_Location_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PL_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PL_Location_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_AssociatedLocation_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PL_Associated_Loc_Record</targetReference>
            </connector>
            <label>PL Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Check</name>
        <label>Record Type Check</label>
        <locationX>1815</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recordtype_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water System</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water Source Intake</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AssociatedLocation_Records</targetReference>
            </connector>
            <label>Recordtype Check</label>
        </rules>
    </decisions>
    <description>Flow to Update or create Location , Address , Associated Location Records - final</description>
    <environments>Default</environments>
    <formulas>
        <description>Concat Lat and Long</description>
        <name>LocName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.PhysicalLocation__Latitude__s}) &amp; &apos;,&apos; &amp; TEXT({!$Record.PhysicalLocation__Longitude__s})</expression>
    </formulas>
    <interviewLabel>Record Triggered : Account Address Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered : Account Address Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PA_Address_Records2</name>
        <label>Create PA Address Records</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <assignRecordIdToReference>AddressId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_PA_Location_Record2</targetReference>
        </connector>
        <inputAssignments>
            <field>AddressType</field>
            <value>
                <stringValue>Physical Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Physical_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Physical_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DrivingDirections</field>
            <value>
                <elementReference>$Record.PhysicalDrivingDirections__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>$Record.Physical_Address__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Physical Location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>$Record.Physical_Address__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Physical_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Physical_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Physical_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <object>Address</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PA_AssosciatedLocation_Records2</name>
        <label>Create PA AssosciatedLocation Records</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Physical Location</stringValue>
            </value>
        </inputAssignments>
        <object>AssociatedLocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PA_Location_Record2</name>
        <label>Create PA Location Record</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>LocationId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_PA_Address_Records2</targetReference>
        </connector>
        <inputAssignments>
            <field>DrivingDirections</field>
            <value>
                <elementReference>$Record.PhysicalDrivingDirections__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>$Record.Physical_Address__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Physical Location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>$Record.Physical_Address__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Physical_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PL_AssosciatedLocation_Records</name>
        <label>Create PL AssosciatedLocation Records</label>
        <locationX>1370</locationX>
        <locationY>1079</locationY>
        <faultConnector>
            <targetReference>PL_Associated_Location_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>PLLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Physical Location</stringValue>
            </value>
        </inputAssignments>
        <object>AssociatedLocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PL_Location_Record</name>
        <label>Create PL Location Record</label>
        <locationX>1238</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>PLLocationId</assignRecordIdToReference>
        <connector>
            <targetReference>PL_Associated_Location_Check1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PL_Location_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>DrivingDirections</field>
            <value>
                <elementReference>$Record.PhysicalDrivingDirections__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>$Record.PhysicalLocation__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Physical Location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>$Record.PhysicalLocation__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LocName</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordCreates>
    <recordLookups>
        <name>Get_AssociatedLocation_Records</name>
        <label>Get AssociatedLocation Records</label>
        <locationX>1205</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LocationType_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssociatedLocation</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PA_Location_Records</name>
        <label>Get PA Location Records</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PA_Location_Records_Check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Physical_Address__Street__s</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PL_Location_Records</name>
        <label>Get PL Location Records</label>
        <locationX>1040</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PL_Location_Records_Check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PA_Associated_Loc_Record</name>
        <label>Update PA Associated Loc Record</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AssociatedLocation_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputAssignments>
        <object>AssociatedLocation</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PA_Associated_Loc_Record1</name>
        <label>Update PA Associated Loc Record</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AssociatedLocation_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Get_PA_Location_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AssociatedLocation</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PA_Location_Record2</name>
        <label>Update PA Location Record</label>
        <locationX>446</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>PA_Associated_Location_Availability_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VisitorAddressId</field>
            <value>
                <elementReference>AddressId</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PL_Associated_Loc</name>
        <label>Update PL Associated Loc</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AssociatedLocation_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>PLLocationId</elementReference>
            </value>
        </inputAssignments>
        <object>AssociatedLocation</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PL_Associated_Loc_Record</name>
        <label>Update PL Associated Loc Record</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AssociatedLocation_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Get_PL_Location_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AssociatedLocation</object>
    </recordUpdates>
    <start>
        <locationX>1689</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PhysicalLocation__Latitude__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PhysicalLocation__Longitude__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Physical_Address__Street__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PLLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
