src-ui/main/default/flows/CreateAccountAddress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>AccountRecordId</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>EmptyValueSet</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>checkForNullValues</name>
        <label>checkForNullValues</label>
        <locationX>100</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Create_Address_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkForButtonClick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bttn_group</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <label>checkForButtonClick</label>
        </rules>
        <rules>
            <name>nullValueCheck</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AddressCityFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddressPostalCodeFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddressCountryFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddressStateFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddressStreetFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Address</targetReference>
            </connector>
            <label>nullValueCheck</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddressCityFormula</name>
        <dataType>String</dataType>
        <expression>TRIM({!AddressRecordVar.City})</expression>
    </formulas>
    <formulas>
        <name>AddressCountryFormula</name>
        <dataType>String</dataType>
        <expression>TRIM({!AddressRecordVar.Country})</expression>
    </formulas>
    <formulas>
        <name>AddressPostalCodeFormula</name>
        <dataType>String</dataType>
        <expression>TRIM({!AddressRecordVar.PostalCode})</expression>
    </formulas>
    <formulas>
        <name>AddressStateFormula</name>
        <dataType>String</dataType>
        <expression>TRIM({!AddressRecordVar.State})</expression>
    </formulas>
    <formulas>
        <name>AddressStreetFormula</name>
        <dataType>String</dataType>
        <expression>TRIM({!AddressRecordVar.Street})</expression>
    </formulas>
    <formulas>
        <name>ConcatStreetPostalCode</name>
        <dataType>String</dataType>
        <expression>{!AddressRecordVar.Street}+ &quot;-&quot;+ {!AddressRecordVar.PostalCode}</expression>
    </formulas>
    <interviewLabel>Crea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Address Via Typeahead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Address_Record</name>
        <label>Create Location Record</label>
        <locationX>463</locationX>
        <locationY>408</locationY>
        <assignRecordIdToReference>LocationRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Address_Record1</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Residence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AddressRecordVar.Street</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Address_Record1</name>
        <label>Create Address Record</label>
        <locationX>456</locationX>
        <locationY>504</locationY>
        <assignRecordIdToReference>AddressRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateLocationRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>AddressRecordVar.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>AddressRecordVar.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DrivingDirections</field>
            <value>
                <elementReference>AddressRecordVar.DrivingDirections</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Residence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>LocationRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>AddressRecordVar.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>AddressRecordVar.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>AddressRecordVar.Street</elementReference>
            </value>
        </inputAssignments>
        <object>Address</object>
    </recordCreates>
    <recordCreates>
        <name>CreateAssociatedLocationRecord</name>
        <label>CreateAssociatedLocationRecord</label>
        <locationX>456</locationX>
        <locationY>747</locationY>
        <connector>
            <targetReference>Address_is_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>LocationRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Residence</stringValue>
            </value>
        </inputAssignments>
        <object>AssociatedLocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>457</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLocationRecord</name>
        <label>UpdateLocationRecord</label>
        <locationX>456</locationX>
        <locationY>613</locationY>
        <connector>
            <targetReference>CreateAssociatedLocationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VisitorAddressId</field>
            <value>
                <elementReference>AddressRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <screens>
        <name>Address_is_Created</name>
        <label>Address is Created</label>
        <locationX>452</locationX>
        <locationY>898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompletionText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Address is added to account successfully. Please click Finish to create new Address or to see the created address please close the flyout and refresh the page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Address</name>
        <label>Address</label>
        <locationX>454</locationX>
        <locationY>283</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkForNullValues</targetReference>
        </connector>
        <fields>
            <name>Create_Address_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Address_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewAddress</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;New Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AccountNameText1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Address Validation&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MandatoryFields</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please fill the details and click next&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>nullValueCheck</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AddressRecordVar.Address</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AddressRecordVar.DrivingDirections</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddressRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddressRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <name>AddressStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bttn_group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>checkForFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Country_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </variables>
    <variables>
        <name>LocationRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Province</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
