src-temp/main/default/flows/Get_All_Assessment_Task_Details_From_Inspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>addAssessmentIndicatorName</name>
        <label>addAssessmentIndicatorName</label>
        <locationX>264</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>existingAssessmentIndicatorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopInspectionQuestions.AssessmentIndDefinition.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInspectionQuestions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCategory</name>
        <label>addCategory</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>existingCategoryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAssessmentTaskList.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAssessmentTaskList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTaskID</name>
        <label>addTaskID</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>existingTaskIDList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAssessmentTaskList.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCategory</targetReference>
        </connector>
    </assignments>
    <description>added Fault Path</description>
    <environments>Default</environments>
    <interviewLabel>Get All Assessment Task Details From Inspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get All Assessment Task Details From Inspection</label>
    <loops>
        <name>loopAssessmentTaskList</name>
        <label>loopAssessmentTaskList</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>existingTaskList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addTaskID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getAllInspectionAssessmentQuestions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopInspectionQuestions</name>
        <label>loopInspectionQuestions</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>existingInspectionQuestionsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addAssessmentIndicatorName</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAllAssessmentTasksForInspection</name>
        <label>getAllAssessmentTasksForInspection</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopAssessmentTaskList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>relatedAssessmentTaskErrorMessageScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <object>AssessmentTask</object>
        <outputReference>existingTaskList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getAllInspectionAssessmentQuestions</name>
        <label>getAllInspectionAssessmentQuestions</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopInspectionQuestions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>relatedInspectionQuestionsErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentTaskId</field>
            <operator>In</operator>
            <value>
                <elementReference>existingTaskIDList</elementReference>
            </value>
        </filters>
        <object>InspectionAssessmentInd</object>
        <outputReference>existingInspectionQuestionsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssessmentTaskId</queriedFields>
        <queriedFields>AssessmentIndDefinitionId</queriedFields>
    </recordLookups>
    <screens>
        <name>relatedAssessmentTaskErrorMessageScreen</name>
        <label>relatedAssessmentTaskErrorMessageScreen</label>
        <locationX>704</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>relatedAssessmentTaskErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Not able to load related Assessment Tasks. Please try again later.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>relatedInspectionQuestionsErrorMessage</name>
        <label>relatedInspectionQuestionsErrorMessage</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>relatedInspectionQuestionErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Not able to load related Inspection Questions. Please try again later.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAllAssessmentTasksForInspection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>existingAssessmentIndicatorList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>existingCategoryList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>existingInspectionQuestionsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>existingTaskIDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>existingTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
