bcgov-source/app-alr/main/default/flows/Create_Service_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Extracted_Value_to_List</name>
        <label>Add Extracted Value to List</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>extractedPicklistValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extract_Picklist_Values</name>
        <label>Extract Picklist Values</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>formattedpicklistvalues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hospitality_Service_Parsing_Multi_Picklist_Values</name>
        <label>Hospitality Service Parsing Multi Picklist Values</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MultiPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hospitality_Service_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTypeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hospitality Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProvidedByValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HS_ProvidedBy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommentsValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HS_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Processed_Picklist_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parsing_Multi_Picklist_Values</name>
        <label>Parsing Multi Picklist Values</label>
        <locationX>116</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MultiPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTypeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assisted Living Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProvidedByValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvidedBy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommentsValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Processed_Picklist_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Processed_Picklist_Values</name>
        <label>Processed Picklist Values</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>formattedpicklistvalues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatmultipicklistvalue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Assistancemanagingtherapeuticdiets</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Assistance managing therapeutic diets&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistance managing therapeutic diets</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assistancewithbehaviourmanagement</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Assistance with behaviour management&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistance with behaviour management</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assistancewithdailylivingactivities</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Assistance with daily living activities&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistance with daily living activities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assistancewithmanagingmedication</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Assistance with managing medication&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistance with managing medication</stringValue>
        </value>
    </choices>
    <choices>
        <name>HourEmergencyResponseSystem</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;24-Hour Emergency Response System&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>24-Hour Emergency Response System</stringValue>
        </value>
    </choices>
    <choices>
        <name>Housekeeping</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(68, 68, 68);&quot;&gt;Housekeeping&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Housekeeping</stringValue>
        </value>
    </choices>
    <choices>
        <name>Laundry</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(68, 68, 68);&quot;&gt;Laundry&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Laundry</stringValue>
        </value>
    </choices>
    <choices>
        <name>MealServices</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;Meal Services&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meal Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Psychosocialsupport</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Psychosocial support&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Psychosocial support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Safekeepingofmoneypersonalproperty</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Safekeeping of money/personal property&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safekeeping of money/personal property</stringValue>
        </value>
    </choices>
    <choices>
        <name>SocialandRecreationalOpps</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(68, 68, 68);&quot;&gt;Social and Recreational Opps&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social and Recreational Opps</stringValue>
        </value>
    </choices>
    <decisions>
        <name>All_Values_Parsed</name>
        <label>All Values Parsed</label>
        <locationX>248</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Add_Extracted_Value_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formattedpicklistvalues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessMessege</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Record_Exist</name>
        <label>Check Service Record Exist</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Create_Records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Record_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Service_Records</targetReference>
            </connector>
            <label>Service Record Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Type_Decision</name>
        <label>Service Type Decision</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Hospitality_Service_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hospitality Service</defaultConnectorLabel>
        <rules>
            <name>ALS_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssistedLivingService</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ALS_Service_Screen</targetReference>
            </connector>
            <label>ALS Service</label>
        </rules>
    </decisions>
    <description>This flow is created as part of ALR-33 to create different services.</description>
    <dynamicChoiceSets>
        <name>ProvidedByPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProvidedBy__c</picklistField>
        <picklistObject>Service__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formatmultipicklistvalue</name>
        <dataType>String</dataType>
        <expression>{!MultiPicklistValues} + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM( 
     LEFT(
              {!formattedpicklistvalues} , 
              FIND(
                     &quot;;&quot;,{!formattedpicklistvalues}
             ) - 1
       ) 
 )</expression>
    </formulas>
    <formulas>
        <name>removeOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM(
     SUBSTITUTE({!formattedpicklistvalues},  {!formulaOnePicklistValue}+&quot;;&quot;, &quot;&quot;)
 )</expression>
    </formulas>
    <interviewLabel>Create Service Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Service Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Records 1</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Extract_Picklist_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessege</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>CommentsValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProvidedBy__c</field>
            <value>
                <elementReference>ProvidedByValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ResidenceServicesRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceName__c</field>
            <value>
                <elementReference>formulaOnePicklistValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceType__c</field>
            <value>
                <elementReference>ServiceTypeValue</elementReference>
            </value>
        </inputAssignments>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Account_Records</name>
        <label>Account Records</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Type_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ResidenceServices</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ResidenceServicesRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Service_Records</name>
        <label>Service Records</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Service_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceTypeValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaOnePicklistValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Service_Records</name>
        <label>Update Existing Service Records</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Extract_Picklist_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>CommentsValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProvidedBy__c</field>
            <value>
                <elementReference>ProvidedByValue</elementReference>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <screens>
        <name>ALS_Service_Screen</name>
        <label>ALS Service Screen</label>
        <locationX>116</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Parsing_Multi_Picklist_Values</targetReference>
        </connector>
        <fields>
            <name>Service_Name</name>
            <choiceReferences>Assistancewithdailylivingactivities</choiceReferences>
            <choiceReferences>Assistancewithmanagingmedication</choiceReferences>
            <choiceReferences>Safekeepingofmoneypersonalproperty</choiceReferences>
            <choiceReferences>Assistancemanagingtherapeuticdiets</choiceReferences>
            <choiceReferences>Assistancewithbehaviourmanagement</choiceReferences>
            <choiceReferences>Psychosocialsupport</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$Label.ALS_Type_Default_Values</elementReference>
            </defaultValue>
            <fieldText>Service Name</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProvidedBy</name>
            <choiceReferences>ProvidedByPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ProvidedBy</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorMessege</name>
        <label>Error Messege</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(211, 15, 15);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hospitality_Service_Screen</name>
        <label>Hospitality Service Screen</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Hospitality_Service_Parsing_Multi_Picklist_Values</targetReference>
        </connector>
        <fields>
            <name>Hospitality_Service_Name</name>
            <choiceReferences>MealServices</choiceReferences>
            <choiceReferences>HourEmergencyResponseSystem</choiceReferences>
            <choiceReferences>Housekeeping</choiceReferences>
            <choiceReferences>Laundry</choiceReferences>
            <choiceReferences>SocialandRecreationalOpps</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$Label.HS_Type_Default_Value</elementReference>
            </defaultValue>
            <fieldText>Service Name</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HS_ProvidedBy</name>
            <choiceReferences>ProvidedByPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ProvidedBy</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HS_Comments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessMessege</name>
        <label>SuccessMessege</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(54, 169, 11);&quot;&gt;{!ServiceTypeValue} has been created successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CommentsValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DefaultALSValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Assistance with daily living activities;Assistance with managing medication;Safekeeping of money/personal property;Assistance managing therapeutic diets;Assistance with behaviour management;Psychosocial support</stringValue>
        </value>
    </variables>
    <variables>
        <name>DefaultHSValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Assistance with daily living activities;Assistance with managing medication</stringValue>
        </value>
    </variables>
    <variables>
        <name>extractedPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>formattedpicklistvalues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MultiPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProvidedByValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResidenceServicesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedValuesFromMultiPicklist</name>
        <dataType>Multipicklist</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
