bcgov-source/app-alr/main/default/flows/CreateNewBusinessLicense.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Next_Registration_Certificate_Number</name>
        <label>Get Next Registration Certificate Number</label>
        <locationX>741</locationX>
        <locationY>1154</locationY>
        <actionName>SequenceService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>setLatestLicenseCertificateNumber</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>SequenceService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>NextRegCertNumber</assignToReference>
            <name>nextNumber</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignBL</name>
        <label>assignBL</label>
        <locationX>840</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>licenseApplication</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getBusinessLicenseApplication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LicenseTypeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getBusinessLicenseApplication.LicenseType.RegulatoryAuthorizationCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreBLAType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getBusinessLicenseApplication.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getInvoiceStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLicenseType</name>
        <label>assignLicenseType</label>
        <locationX>1203</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>licneseTypeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>licenseApplication.LicenseType.RegulatoryAuthorizationCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getLicenseWithLatestRegistrationNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_set_new_BL_id_to_output_variable</name>
        <label>set new BL id to output variable for Renewals</label>
        <locationX>1071</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>newLicenseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_CreateNewBusinessLicense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>showError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>licenseNameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_License_exist_for_Residence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_setError</name>
        <label>Copy 1 of setError</label>
        <locationX>477</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice must be paid prior to generating Business license.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>showError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_new_BL_id_to_output_variable</name>
        <label>set new BL id to output variable</label>
        <locationX>1335</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>newLicenseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewBusinessLicense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>showError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>licenseNameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_License_exist_for_Residence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setError</name>
        <label>setError</label>
        <locationX>1819</locationX>
        <locationY>3026</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Some error occurred with DML request, Please contact your system adminstrator</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>showError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setFirstRegistrationCertificateNumber</name>
        <label>setFirstRegistrationCertificateNumber</label>
        <locationX>1533</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>registrationCertificateNUmber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstRegistrationNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionforRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLatestLicenseCertificateNumber</name>
        <label>setLatestLicenseCertificateNumber</label>
        <locationX>741</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>latestLicenseCertificateNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>latestBusinessLicense.RegistrationCertificate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewRegistrationNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLatestLicenseToInactive</name>
        <label>setOldLicenseToInactive</label>
        <locationX>1291</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>latestResidenceLicense.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOldLicenseToInactive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewRegistrationNumber</name>
        <label>setNewRegistrationNumber</label>
        <locationX>741</locationX>
        <locationY>1370</locationY>
        <assignmentItems>
            <assignToReference>registrationCertificateNUmber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedCertificateNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstLicenseIssueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isFirstLicense</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionforRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setResidenceRegistrationNumber</name>
        <label>setResidenceRegistrationNumber</label>
        <locationX>1005</locationX>
        <locationY>1154</locationY>
        <assignmentItems>
            <assignToReference>registrationCertificateNUmber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>latestResidenceLicense.RegistrationCertificate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstLicenseIssueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>licenseApplication.Account.OriginalCertificateIssuedDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionforRecordType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_any_License_exists</name>
        <label>Check any License exists</label>
        <locationX>1203</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>setFirstRegistrationCertificateNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create First Business License</defaultConnectorLabel>
        <rules>
            <name>License_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>latestBusinessLicense</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLatestLicenseofthe_Residence</targetReference>
            </connector>
            <label>License Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_License_For_Residence</name>
        <label>Check License For Residence</label>
        <locationX>873</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>setResidenceRegistrationNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>License exist for Residence</defaultConnectorLabel>
        <rules>
            <name>Residence_Initial_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>latestResidenceLicense</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Next_Registration_Certificate_Number</targetReference>
            </connector>
            <label>Residence First License</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_DecisionforRecordTypetoCreateBL</name>
        <label>DecisionforRecordTypetoUpdateBLA</label>
        <locationX>1203</locationX>
        <locationY>2618</locationY>
        <defaultConnector>
            <targetReference>updateBusinessLicenseApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreBLAType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_updateBusinessLicenseApplication</targetReference>
            </connector>
            <label>Copy 1 of Outcome 1 of Decision 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionforRecordType</name>
        <label>DecisionforRecordTypetoCreateBL</label>
        <locationX>1203</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>CreateNewBusinessLicense</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreBLAType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_CreateNewBusinessLicense</targetReference>
            </connector>
            <label>Outcome 1 of Decision 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_License_exist_for_Residence</name>
        <label>Does License exist for Residence</label>
        <locationX>1203</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>setLatestLicenseToInactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>License Exist for Residence</defaultConnectorLabel>
        <rules>
            <name>First_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isFirstLicense</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_DecisionforRecordTypetoCreateBL</targetReference>
            </connector>
            <label>First License</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsInvoicePending</name>
        <label>IsInvoicePending</label>
        <locationX>840</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>assignLicenseType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All invoices paid.</defaultConnectorLabel>
        <rules>
            <name>Invoice_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceDue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_setError</targetReference>
            </connector>
            <label>Invoice Pending</label>
        </rules>
    </decisions>
    <description>Changes for ALR 810. added new field Account for residence &amp; org is associated with Registrant
Updated the flow for ALR-1154</description>
    <environments>Default</environments>
    <formulas>
        <name>endDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),03,31)</expression>
    </formulas>
    <formulas>
        <name>firstRegistrationNumber</name>
        <dataType>String</dataType>
        <expression>{!licneseTypeCode} +TEXT(YEAR(TODAY()) )+&apos;-&apos; +&apos;00001&apos;</expression>
    </formulas>
    <formulas>
        <name>formattedCertificateNumber</name>
        <dataType>String</dataType>
        <expression>{!licneseTypeCode}  +TEXT(YEAR(TODAY()) )+&apos;-&apos; +LPAD({!incrementRegistrationNumberLastDigits}, 5,&apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>incrementRegistrationNumberLastDigits</name>
        <dataType>String</dataType>
        <expression>IF(LEN(TEXT({!NextRegCertNumber}))&gt;0, Text(VALUE(RIGHT(TEXT({!NextRegCertNumber}), 5))), &apos;00001&apos;)</expression>
    </formulas>
    <formulas>
        <name>licenseNameFormula</name>
        <dataType>String</dataType>
        <expression>{!licenseApplication.Account.Name} +&apos;-&apos; +{!LicenseTypeCode}+&apos;-&apos;+TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>PeriodEnd</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH(TODAY()) &gt;= 3, DATE(YEAR(TODAY()) + 1, 3, 31), DATE(YEAR(TODAY()), 3, 31))</expression>
    </formulas>
    <formulas>
        <name>PeriodEndDateRenewal</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(DATE(YEAR(ADDMONTHS(TODAY(), 12)), 3 , 31)) &amp; &quot; 08:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>PeriodEndTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(
MONTH(TODAY()) &gt;= 4,
DATETIMEVALUE(TEXT(DATE(YEAR(TODAY()) + 1, 3, 31)) &amp; &quot; 08:00:00&quot;),
    IF(
       MONTH(TODAY()) &lt;= 3,
       DATETIMEVALUE(TEXT(DATE(YEAR(TODAY()) , 3, 31)) &amp; &quot; 08:00:00&quot;),
       NULL
    )
)</expression>
    </formulas>
    <formulas>
        <name>PeriodStartDateRenewal</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(DATE(YEAR(TODAY()), 4, 1)) &amp; &quot; 08:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>renewalEndDate</name>
        <dataType>Date</dataType>
        <expression>IF({!$Flow.CurrentDate}&lt; {!endDate}, {!endDate},  DATE(YEAR({!$Flow.CurrentDate})+1,3,31))</expression>
    </formulas>
    <formulas>
        <name>renewalEndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF({!$Flow.CurrentDate}&lt; {!endDate}, DATETIMEVALUE(Text({!endDate})&amp;&quot; &quot;&amp; &quot;23:00:00&quot;) , DATETIMEVALUE(Text(YEAR({!$Flow.CurrentDate})+1)&amp;&quot;/03/31 &quot;&amp; &quot;23:00:00&quot;) )</expression>
    </formulas>
    <interviewLabel>CreateNewBusinessLicense {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Business License</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_CreateNewBusinessLicense</name>
        <label>CreateNewBusinessLicenseForRenewal</label>
        <locationX>1071</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Copy_1_of_set_new_BL_id_to_output_variable</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>licenseApplication.Account.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>licenseApplication.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>licenseNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeriodEnd</field>
            <value>
                <elementReference>PeriodEndDateRenewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeriodStart</field>
            <value>
                <elementReference>PeriodStartDateRenewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationCertificate__c</field>
            <value>
                <elementReference>registrationCertificateNUmber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegulatoryAuthorizationTypeId</field>
            <value>
                <elementReference>licenseApplication.LicenseType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewBusinessLicense</name>
        <label>CreateNewBusinessLicense</label>
        <locationX>1335</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>UpdateAccountStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>licenseApplication.Account.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>licenseApplication.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>licenseNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeriodEnd</field>
            <value>
                <elementReference>PeriodEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeriodStart</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationCertificate__c</field>
            <value>
                <elementReference>registrationCertificateNUmber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegulatoryAuthorizationTypeId</field>
            <value>
                <elementReference>licenseApplication.LicenseType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getBusinessLicenseApplication</name>
        <label>getBusinessLicenseApplication</label>
        <locationX>840</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignBL</targetReference>
        </connector>
        <faultConnector>
            <targetReference>setError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicenseApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getInvoiceStatus</name>
        <label>getInvoiceStatus</label>
        <locationX>840</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsInvoicePending</targetReference>
        </connector>
        <faultConnector>
            <targetReference>setError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>licenseApplication.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DUE</stringValue>
            </value>
        </filters>
        <filters>
            <field>FeeType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Late Fee</stringValue>
            </value>
        </filters>
        <object>RegulatoryTrxnFee</object>
        <outputReference>invoiceDue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getLatestLicenseofthe_Residence</name>
        <label>getLatestLicenseofthe Residence</label>
        <locationX>873</locationX>
        <locationY>938</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_License_For_Residence</targetReference>
        </connector>
        <faultConnector>
            <targetReference>setError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>licenseApplication.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RegulatoryAuthorizationTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>licenseApplication.LicenseTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>BusinessLicense</object>
        <outputReference>latestResidenceLicense</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RegistrationCertificate__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getLicenseWithLatestRegistrationNumber</name>
        <label>getLicenseWithLatestRegistrationNumber</label>
        <locationX>1203</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_any_License_exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>setError</targetReference>
        </faultConnector>
        <object>BusinessLicense</object>
        <outputReference>latestBusinessLicense</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RegistrationCertificate__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_updateBusinessLicenseApplication</name>
        <label>updateBusinessLicenseApplicationforRenewal</label>
        <locationX>1071</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>update_Fields_in_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LicensePermitNameId</field>
            <value>
                <elementReference>Copy_1_of_CreateNewBusinessLicense</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessLicenseApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Fields_in_Accounts</name>
        <label>update Fields in Accounts</label>
        <locationX>1203</locationX>
        <locationY>2918</locationY>
        <faultConnector>
            <targetReference>setError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>licenseApplication.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastCertificateDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalCertificateIssuedDate__c</field>
            <value>
                <elementReference>firstLicenseIssueDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccountStatus</name>
        <label>UpdateAccountStatus</label>
        <locationX>1335</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>set_new_BL_id_to_output_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>licenseApplication.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Registered Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateBusinessLicenseApplication</name>
        <label>updateBusinessLicenseApplication</label>
        <locationX>1335</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>update_Fields_in_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LicensePermitNameId</field>
            <value>
                <elementReference>CreateNewBusinessLicense</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessLicenseApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOldLicenseToInactive</name>
        <label>updateOldLicenseToInactive</label>
        <locationX>1291</locationX>
        <locationY>2378</locationY>
        <connector>
            <targetReference>Copy_1_of_DecisionforRecordTypetoCreateBL</targetReference>
        </connector>
        <faultConnector>
            <targetReference>setError</targetReference>
        </faultConnector>
        <inputReference>latestResidenceLicense</inputReference>
    </recordUpdates>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getBusinessLicenseApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Some error occured</stringValue>
        </value>
    </variables>
    <variables>
        <name>firstLicenseIssueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceDue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RegulatoryTrxnFee</objectType>
    </variables>
    <variables>
        <name>isFirstLicense</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lastDigit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00000</stringValue>
        </value>
    </variables>
    <variables>
        <name>latestBusinessLicense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicense</objectType>
    </variables>
    <variables>
        <name>latestLicenseCertificateNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>latestResidenceLicense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicense</objectType>
    </variables>
    <variables>
        <name>licenseApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicenseApplication</objectType>
    </variables>
    <variables>
        <name>LicenseTypeCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>licneseTypeCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to pass Id of new Business License created, to the omniscript.</description>
        <name>newLicenseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>variable to be passed as output to omniscript</description>
        <name>newRegNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextRegCertNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>registrationCertificateNUmber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StoreBLAType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
