bcgov-source/core/main/default/flows/Add_Inspection_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addNewlyCreatedTask</name>
        <label>addNewlyCreatedTaskToExistingTaskList</label>
        <locationX>356</locationX>
        <locationY>3506</locationY>
        <assignmentItems>
            <assignToReference>fullAssessmentTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAssessmentTaskList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fullAssessmentTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>existingAssessmentTaskList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopingAssessmentTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addNewTaskToList</name>
        <label>addNewTaskToList</label>
        <locationX>1058</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>newAssessmentTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAssessmentTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopingCategoriesForExistingTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_Questions_To_Selected</name>
        <label>Assign All Questions To Selected</label>
        <locationX>224</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>SelectedInspectionTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegCodeAssessmentIndicatorList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_All_Assessment_Tasks_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignALRAssessmentIndicatorDefinitionIds</name>
        <label>assignALRAssessmentIndicatorDefinitionIds</label>
        <locationX>620</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ALRAssessmentIndicatorDefinitionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>storeALRAssessmentIndicatorDefinitionIds.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>storeALRAssessmentIndicatorDefinitionIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignmentOfPHOCSRegCode</name>
        <label>assignmentOfPHOCSRegCode</label>
        <locationX>180</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>RegCodeAssessmentIndicatorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getPHOCSRegCodeAssessmentInd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalNumberofRegCodes</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getPHOCSRegCodeAssessmentInd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectionSortByCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignmentOfRegCode</name>
        <label>assignmentOfRegCode</label>
        <locationX>532</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>RegCodeAssessmentIndicatorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRegCodeAssessmentInd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalNumberofRegCodes</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getRegCodeAssessmentInd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectionSortByCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPHOCSAssessmentIndicatorDefinitionIds</name>
        <label>assignPHOCSAssessmentIndicatorDefinitionIds</label>
        <locationX>268</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>PHOCSAssessmentIndicatorDefinitionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>storePHOCSAssessmentIndicatorDefinitionIds.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>storePHOCSAssessmentIndicatorDefinitionIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addNewTaskToList</name>
        <label>addNewTaskToList</label>
        <locationX>270</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>newAssessmentTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAssessmentTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopingCategories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createInspectionQuestionList</name>
        <label>createInspectionQuestionList</label>
        <locationX>972</locationX>
        <locationY>4154</locationY>
        <assignmentItems>
            <assignToReference>InspectionQuestionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InspectionQuestion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createInspectionQuestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_all_questions_to_Assessment_tasks</name>
        <label>Set all questions to Assessment tasks</label>
        <locationX>224</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>SelectedInspectionTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegCodeAssessmentIndicatorList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_All_Tasks_Has_To_Be_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAssessmentQuestionList</name>
        <label>setAssessmentQuestionList</label>
        <locationX>532</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>AssessmentIndicatorDefinitionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getAssessmentIndicatorDefinitionALR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalAssessmentIndicatorCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getAssessmentIndicatorDefinitionALR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRegCodeAssessmentInd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAssessmentQuestionListEHIS</name>
        <label>setAssessmentQuestionListEHIS</label>
        <locationX>180</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>AssessmentIndicatorDefinitionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getPHOCSAssessmentIndicatorDefinition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalAssessmentIndicatorCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getPHOCSAssessmentIndicatorDefinition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPHOCSRegCodeAssessmentInd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewAssessmentTask</name>
        <label>setNewAssessmentTask</label>
        <locationX>1190</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>newAssessmentTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopingCategoriesForExistingTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.TaskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InspectionChecklist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addNewTaskToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewAssessmentTaskForEmptyList</name>
        <label>setNewAssessmentTask</label>
        <locationX>402</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>newAssessmentTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopingCategories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.TaskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InspectionChecklist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_addNewTaskToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPHOCSNewAssessmentTask</name>
        <label>setPHOCSNewAssessmentTask</label>
        <locationX>138</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>newAssessmentTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopingCategories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.TaskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InspectionChecklist</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPHOCSAssessmentTaskRecType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_addNewTaskToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPHOCSNewAssessmentTaskToUpdate</name>
        <label>setPHOCSNewAssessmentTaskToUpdate</label>
        <locationX>926</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>newAssessmentTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopingCategoriesForExistingTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.TaskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InspectionChecklist</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPHOCSAssessmentTaskRecTypeRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addNewTaskToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateInspectionQuestion</name>
        <label>updateInspectionQuestion</label>
        <locationX>972</locationX>
        <locationY>4046</locationY>
        <assignmentItems>
            <assignToReference>InspectionQuestion.AssessmentIndDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createInspectionQuestion.AssessmentIndDefinitionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionQuestion.AssessmentTaskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopingAssessmentTask.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionQuestion.Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createInspectionQuestionList</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>CollectionSortByCategory</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>CollectionSortByCategory</label>
        <locationX>356</locationX>
        <locationY>1274</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>RegCodeAssessmentIndicatorList</collectionReference>
        <connector>
            <targetReference>Assessment_Questions</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>AssessmentIndicatorDefinitionCategory__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>RegulatoryCodeName__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>AssessmentIndicatorDefinitionName__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>filterQuestionsByCategory</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filterQuestionsByCategory</label>
        <locationX>708</locationX>
        <locationY>3722</locationY>
        <assignNextValueToReference>currentItem_filterQuestionsByCategory</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>SelectedInspectionTasks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterQuestionsByCategory.AssessmentIndicatorDefinitionCategory__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LoopingAssessmentTask.Name</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>createInspectionQuestion</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>getAssessmentIndicatorDefinitionALR</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>getAssessmentIndicatorDefinitionALR</label>
        <locationX>532</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_getAssessmentIndicatorDefinitionALR</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Assessment_Indicator_Definition</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_getAssessmentIndicatorDefinitionALR.RecordTypeId</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>getPHOCSAssessmentIndicatorDefinitionRecType.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>storeALRAssessmentIndicatorDefinitionIds</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>getPHOCSAssessmentIndicatorDefinition</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>getPHOCSAssessmentIndicatorDefinition</label>
        <locationX>180</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_getAssessmentIndicatorDefinitionALR</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Assessment_Indicator_Definition</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_getAssessmentIndicatorDefinitionALR.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>getPHOCSAssessmentIndicatorDefinitionRecType.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>storePHOCSAssessmentIndicatorDefinitionIds</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>check_if_All_tasks_are_selected</name>
        <label>check if All tasks are selected</label>
        <locationX>356</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Check_if_All_Tasks_Has_To_Be_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Tasks_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_All_Inspection_Tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_all_questions_to_Assessment_tasks</targetReference>
            </connector>
            <label>All Tasks Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_All_Tasks_Has_To_Be_Created</name>
        <label>Check if All Tasks Has To Be Created</label>
        <locationX>356</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>get_All_Assessment_Tasks_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_All_Inspection_Tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All_Questions_To_Selected</targetReference>
            </connector>
            <label>All Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckExistingAssessmentTask</name>
        <label>IsNewInspection</label>
        <locationX>356</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>loopingCategoriesForExistingTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Inspection</defaultConnectorLabel>
        <rules>
            <name>Existing_Task_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingAssessmentTaskList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopingCategories</targetReference>
            </connector>
            <label>New Inspection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Inspection_Question_Added</name>
        <label>Is New Inspection Question</label>
        <locationX>884</locationX>
        <locationY>3938</locationY>
        <defaultConnector>
            <targetReference>updateInspectionQuestion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Question</defaultConnectorLabel>
        <rules>
            <name>New_Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingAssessmentIndicatorList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>createInspectionQuestion.AssessmentIndDefinitionId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createInspectionQuestion</targetReference>
            </connector>
            <label>Question Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCategoryAddedForExistingTask</name>
        <label>Is Task Created</label>
        <locationX>904</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>processPHOCS_ALRRecordsUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task Not Found</defaultConnectorLabel>
        <rules>
            <name>Category_Already_Added_ForExisting_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCategoryList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopingCategoriesForExistingTask</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopingCategoriesForExistingTask</targetReference>
            </connector>
            <label>Task Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>PHOCS_or_ALR</name>
        <label>PHOCS or ALR</label>
        <locationX>356</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>getAssessmentIndicatorDefinitionALR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ALR</defaultConnectorLabel>
        <rules>
            <name>PHOCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EHIS Standard User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPHOCSAssessmentIndicatorDefinition</targetReference>
            </connector>
            <label>PHOCS</label>
        </rules>
    </decisions>
    <decisions>
        <name>processPHOCS_ALRRecords</name>
        <label>processPHOCS/ALRRecords</label>
        <locationX>270</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>setNewAssessmentTaskForEmptyList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ALR Records</defaultConnectorLabel>
        <rules>
            <name>PHOCS_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EHIS Standard User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPHOCSAssessmentTaskRecType</targetReference>
            </connector>
            <label>PHOCS Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>processPHOCS_ALRRecordsUpdate</name>
        <label>processPHOCS/ALRRecordsUpdate</label>
        <locationX>1058</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>setNewAssessmentTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update ALR Records</defaultConnectorLabel>
        <rules>
            <name>Update_PHOCS_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EHIS Standard User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPHOCSAssessmentTaskRecTypeRecord</targetReference>
            </connector>
            <label>Update PHOCS Records</label>
        </rules>
    </decisions>
    <description>EHIS-357 V2 Updated Flow
EHIS - Updated the Flow to work for EHIS-357
Added Fault Path. Updated this FLOW for ALR-1311</description>
    <environments>Default</environments>
    <interviewLabel>Add Inspection Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Inspection Tasks</label>
    <loops>
        <name>createInspectionQuestion</name>
        <label>createInspectionQuestion</label>
        <locationX>708</locationX>
        <locationY>3830</locationY>
        <collectionReference>filterQuestionsByCategory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Inspection_Question_Added</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopingAssessmentTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopingAssessmentTask</name>
        <label>LoopingAssessmentTask</label>
        <locationX>356</locationX>
        <locationY>3614</locationY>
        <collectionReference>fullAssessmentTaskList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>filterQuestionsByCategory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createInspectionQuestions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopingCategories</name>
        <label>loopingCategories</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <collectionReference>categoryList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>processPHOCS_ALRRecords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createNewAssessmentTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopingCategoriesForExistingTask</name>
        <label>loopingCategoriesForExistingTask</label>
        <locationX>662</locationX>
        <locationY>2414</locationY>
        <collectionReference>categoryList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsCategoryAddedForExistingTask</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createNewAssessmentTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>To Store ALR filtered Assessment  Indicator Definition Id which will be used to fetch Regulatory Code Assessment Indicator for same.</description>
        <name>storeALRAssessmentIndicatorDefinitionIds</name>
        <label>storeALRAssessmentIndicatorDefinitionIds</label>
        <locationX>532</locationX>
        <locationY>566</locationY>
        <collectionReference>getAssessmentIndicatorDefinitionALR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignALRAssessmentIndicatorDefinitionIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setAssessmentQuestionList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>To Store PHOCS filtered Assessment  Indicator Definition Id which will be used to fetch Regulatory Code Assessment Indicator for same.</description>
        <name>storePHOCSAssessmentIndicatorDefinitionIds</name>
        <label>storePHOCSAssessmentIndicatorDefinitionIds</label>
        <locationX>180</locationX>
        <locationY>566</locationY>
        <collectionReference>getPHOCSAssessmentIndicatorDefinition</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignPHOCSAssessmentIndicatorDefinitionIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setAssessmentQuestionListEHIS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createInspectionQuestions</name>
        <label>createInspectionQuestions</label>
        <locationX>356</locationX>
        <locationY>4514</locationY>
        <connector>
            <targetReference>display_success_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>inspectionQuestionErrorMessageScreen</targetReference>
        </faultConnector>
        <inputReference>InspectionQuestionList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createNewAssessmentTask</name>
        <label>createNewAssessmentTask</label>
        <locationX>356</locationX>
        <locationY>3398</locationY>
        <connector>
            <targetReference>addNewlyCreatedTask</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssessmenttaskCreationErrorMessage</targetReference>
        </faultConnector>
        <inputReference>newAssessmentTaskList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Assessment_Indicator_Definition</name>
        <label>getAssessmentIndicatorDefinition</label>
        <locationX>356</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPHOCSAssessmentIndicatorDefinitionRecType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssessmentIndicatorError</targetReference>
        </faultConnector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentIndicatorDefinition</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPHOCSAssessmentIndicatorDefinitionRecType</name>
        <label>getPHOCSAssessmentIndicatorDefinitionRecType</label>
        <locationX>356</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PHOCS_or_ALR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PHOCSAssessmentIndicatorDefinition</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPHOCSAssessmentTaskRecType</name>
        <label>getPHOCSAssessmentTaskRecType</label>
        <locationX>138</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setPHOCSNewAssessmentTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PHOCSAssessmentTask</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPHOCSAssessmentTaskRecTypeRecord</name>
        <label>getPHOCSAssessmentTaskRecTypeRecord</label>
        <locationX>926</locationX>
        <locationY>2738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setPHOCSNewAssessmentTaskToUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PHOCSAssessmentTask	</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPHOCSRegCodeAssessmentInd</name>
        <label>getPHOCSRegCodeAssessmentInd</label>
        <locationX>180</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignmentOfPHOCSRegCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentIndDefinitionId</field>
            <operator>In</operator>
            <value>
                <elementReference>PHOCSAssessmentIndicatorDefinitionIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RegulatoryCodeAssessmentInd</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRegCodeAssessmentInd</name>
        <label>getRegCodeAssessmentInd</label>
        <locationX>532</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignmentOfRegCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentIndDefinitionId</field>
            <operator>In</operator>
            <value>
                <elementReference>ALRAssessmentIndicatorDefinitionIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RegulatoryCodeAssessmentInd</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assessment_Questions</name>
        <label>Select Assessment Questions</label>
        <locationX>356</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Add more Tasks</backButtonLabel>
        <connector>
            <targetReference>check_if_All_tasks_are_selected</targetReference>
        </connector>
        <fields>
            <name>Add_All_Inspection_Tasks</name>
            <dataType>Boolean</dataType>
            <fieldText>Add All Inspection Tasks</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MessageOnSelectingAllTask</name>
            <fieldText>&lt;p&gt;Selected {!totalNumberofRegCodes} of {!totalNumberofRegCodes} items.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_All_Inspection_Tasks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inspectionQuestionsSample</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>RegulatoryCodeAssessmentInd</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;AssessmentIndicatorDefinitionCategory__c&quot;,&quot;guid&quot;:&quot;column-f07f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Category&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;AssessmentIndicatorDefinitionCategory&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;RegulatoryCodeName__c&quot;,&quot;guid&quot;:&quot;column-c0e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Regulatory Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;RegulatoryCodeName&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;AssessmentIndicatorDefinitionName__c&quot;,&quot;guid&quot;:&quot;column-1a43&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;AssessmentIndicatorDefinitionName&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>RegCodeAssessmentIndicatorList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>SelectedInspectionTasks</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedInspectionTasks</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_All_Inspection_Tasks</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Add Assessment Task</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AssessmentIndicatorError</name>
        <label>AssessmentIndicatorError</label>
        <locationX>1538</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>assessmentIndicatorErrorMessage</name>
            <fieldText>&lt;p&gt;Not able to load Inspection Questions. Please try again later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AssessmenttaskCreationErrorMessage</name>
        <label>AssessmenttaskCreationErrorMessage</label>
        <locationX>1274</locationX>
        <locationY>3506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>assessmentTaskCreationError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Not able to create Assessment Tasks. Please try again later.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>display_success_message</name>
        <label>display success message</label>
        <locationX>356</locationX>
        <locationY>4622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SucessMessage</name>
            <fieldText>&lt;p&gt;Assessment Task created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>inspectionQuestionErrorMessageScreen</name>
        <label>inspectionQuestionErrorMessageScreen</label>
        <locationX>1010</locationX>
        <locationY>4622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>inspectionQuestionCreationErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Not able to create Inspection Questions. Please try again later.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>230</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Assessment_Indicator_Definition</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>get_All_Assessment_Tasks_Questions</name>
        <label>get All Assessment Tasks &amp; Questions</label>
        <locationX>356</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>GetCategoryListForSelectedQuestions</targetReference>
        </connector>
        <flowName>Get_All_Assessment_Task_Details_From_Inspection</flowName>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>existingAssessmentIndicatorList</assignToReference>
            <name>existingAssessmentIndicatorList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>existingCategoryList</assignToReference>
            <name>existingCategoryList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>existingInspectionQuestionList</assignToReference>
            <name>existingInspectionQuestionsList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>existingTaskIdList</assignToReference>
            <name>existingTaskIDList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>existingAssessmentTaskList</assignToReference>
            <name>existingTaskList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GetCategoryListForSelectedQuestions</name>
        <label>GetCategoryListForSelectedQuestions</label>
        <locationX>356</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>CheckExistingAssessmentTask</targetReference>
        </connector>
        <flowName>Get_Category_List_From_Assessment_Indicator_Definition</flowName>
        <inputAssignments>
            <name>QuestionListAT</name>
            <value>
                <elementReference>SelectedInspectionTasks</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>categoryList</assignToReference>
            <name>categoryList</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ALRAssessmentIndicatorDefinitionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssessmentCategory</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssessmentIndicatorDefinitionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentIndicatorDefinition</objectType>
    </variables>
    <variables>
        <name>AssessmentName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>categoryList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_filterAssessmentTaskForCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>currentItem_filterQuestionsByCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RegulatoryCodeAssessmentInd</objectType>
    </variables>
    <variables>
        <name>currentItem_getAssessmentIndicatorDefinitionALR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentIndicatorDefinition</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentIndicatorDefinition</objectType>
    </variables>
    <variables>
        <name>existingAssessmentIndicatorList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingAssessmentTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>existingCategoryList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingInspectionQuestionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>existingTaskIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fullAssessmentTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>InspectionQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>InspectionQuestionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>newAssessmentTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>newAssessmentTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>newTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PHOCSAssessmentIndicatorDefinitionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>RegCodeAssessmentIndicatorList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RegulatoryCodeAssessmentInd</objectType>
    </variables>
    <variables>
        <name>RegCodeName</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RegulatoryCode</objectType>
    </variables>
    <variables>
        <name>selectedInspectionQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentIndicatorDefinition</objectType>
    </variables>
    <variables>
        <name>SelectedInspectionTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RegulatoryCodeAssessmentInd</objectType>
    </variables>
    <variables>
        <name>totalAssessmentIndicatorCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalNumberofRegCodes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
