bcgov-source/core/main/default/flows/InspectionAssessmentTaskCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Action_Plan_Template_Name</name>
        <label>Get Action Plan Template Name</label>
        <locationX>1012</locationX>
        <locationY>539</locationY>
        <actionName>Action_Plan_Template_Decision_Matrix</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>ActionPlanTemplateCheck</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FacilityProgram</name>
            <value>
                <elementReference>$Record.Account.ProgramArea__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LicenseType</name>
            <value>
                <elementReference>GetVisitRecord.Account.LicenseType__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InspectionType</name>
            <value>
                <elementReference>GetVisitRecord.VisitType.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Action_Plan_Template_Decision_Matrix</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ActionPlanTemplateName</assignToReference>
            <name>Template</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>To get the template name based multiple criteria</description>
        <name>Get_Template_Name_Based_On_Criteria</name>
        <label>Get Template Name Based On Criteria</label>
        <locationX>704</locationX>
        <locationY>539</locationY>
        <actionName>GetInsActionPlanTemplateMappings</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PHOCS_Inspection_Action_Plan_Template_Decision_Matrix</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>AccountType</name>
            <value>
                <elementReference>$Record.Account.Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InspectionType</name>
            <value>
                <elementReference>GetVisitRecord.VisitType.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetInsActionPlanTemplateMappings</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>PhocsActionPlanTemplateName</assignToReference>
            <name>TemplateName</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>getActionPlanItemIds</name>
        <label>AssessmentTaskController</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <actionName>InspTasksCreationController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_SignaturetaskActionPlanItem</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>aTIId</name>
            <value>
                <elementReference>ATIId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inspId</name>
            <value>
                <elementReference>GetVisitRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InspTasksCreationController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>PHOCS_Inspection_Action_Plan_Template_Decision_Matrix</name>
        <label>PHOCS Inspection Action Plan Template Decision Matrix</label>
        <locationX>704</locationX>
        <locationY>647</locationY>
        <actionName>PHOCS_Inspection_Action_Plan_Template_Decision_Matrix</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>Check_Action_Plan_Template_Returned_from_Additional_Criteria</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>InspectionAccountType</name>
            <value>
                <elementReference>accountType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PHOCS_Inspection_Action_Plan_Template_Decision_Matrix</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ActionPlanTemplateName</assignToReference>
            <name>ActionPlanTemplate</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ActionPlanItemIds</name>
        <label>ActionPlanItemIds</label>
        <locationX>270</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>ATIId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ActionPlanItemValues.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActionPlanItemValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_assessment_task</name>
        <label>add assessment task</label>
        <locationX>270</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>SignAssessmentTask.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SignAssessmentTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>signitem.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SignAssessmentTask.TaskType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SignatureTask</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>signitem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign action plan template name to the action plan template name returned from additional criteria</description>
        <name>Assign_Action_Plan_Template_Name</name>
        <label>Assign Action Plan Template Name</label>
        <locationX>572</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhocsActionPlanTemplateName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActionPlanTemplateCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignActionPlanToVisit</name>
        <label>Assign Action Plan To Visit</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>NewActionPlan.ActionPlanTemplateVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetActionPlanTemplateVersion.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.TargetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetVisitRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetActionPlanTemplate.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActionPlan.ActionPlanType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actionplantempitem</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>litral</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>ActionPlanTemplateActivated</name>
        <label>Action Plan Template Activated</label>
        <locationX>380</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Action Plan Template Is  Not Active</defaultConnectorLabel>
        <rules>
            <name>ActionPlanTemplateIsActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActionPlanTemplateVersion.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignActionPlanToVisit</targetReference>
            </connector>
            <label>Action Plan Template Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActionPlanTemplateCheck</name>
        <label>Action Plan Template Check</label>
        <locationX>858</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Template Name Not Available</defaultConnectorLabel>
        <rules>
            <name>TemplateNameAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionPlanTemplateName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActionPlanTemplate</targetReference>
            </connector>
            <label>Template Name Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActionPlanTemplateIDcheck</name>
        <label>Action Plan Template ID check</label>
        <locationX>611</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Action Plan Template Not Found</defaultConnectorLabel>
        <rules>
            <name>ActionPlanTemplateFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActionPlanTemplate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActionPlanTemplateVersion</targetReference>
            </connector>
            <label>Action Plan Template Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Action_Plan_Template_Returned_from_Additional_Criteria</name>
        <label>Check Action Plan Template Returned from Additional Criteria</label>
        <locationX>704</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>ActionPlanTemplateCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Action_Plant_Template_Name_From_Additional_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhocsActionPlanTemplateName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Action_Plan_Template_Name</targetReference>
            </connector>
            <label>Action Plant Template Name From Additional Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PHOCS_Record_Type</name>
        <label>Check PHOCS Record Type</label>
        <locationX>858</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Action_Plan_Template_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_PHOCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVisitRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSInspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Template_Name_Based_On_Criteria</targetReference>
            </connector>
            <label>is PHOCS</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSignatureAcationPlanItemAvailable</name>
        <label>CheckSignatureAcationPlanItemAvailable</label>
        <locationX>182</locationX>
        <locationY>2711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SignatureAcationPlanItemAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SignaturetaskActionPlanItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSignatureAssessment</targetReference>
            </connector>
            <label>SignatureAcationPlanItemAvailable</label>
        </rules>
    </decisions>
    <description>ALR-1230 V2
EHIS:1363 PHOCS - Updated Apex Action Name
EHIS-2691
This is the working version created for the EHIS-2691 ticket
This version created for testing of existing logic is working with old decision matrix
This version 19 is for testing purpose</description>
    <environments>Default</environments>
    <formulas>
        <name>accountType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.Account.Type})), &apos;Placeholder&apos;, TEXT({!$Record.Account.Type}))</expression>
    </formulas>
    <formulas>
        <name>InspectionType</name>
        <dataType>String</dataType>
        <expression>{!$Record.VisitType.Name}</expression>
    </formulas>
    <interviewLabel>InspectionAssessmentTaskCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InspectionAssessmentTaskCreation</label>
    <loops>
        <name>ActionPlanItemValues</name>
        <label>ActionPlanItemValues</label>
        <locationX>182</locationX>
        <locationY>1895</locationY>
        <collectionReference>Actionplantempitem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ActionPlanItemIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getActionPlanItemIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>signitem</name>
        <label>signitem</label>
        <locationX>182</locationX>
        <locationY>2411</locationY>
        <collectionReference>Get_SignaturetaskActionPlanItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_assessment_task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckSignatureAcationPlanItemAvailable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateSignatureAssessment</name>
        <label>CreateSignatureAssessment</label>
        <locationX>50</locationX>
        <locationY>2819</locationY>
        <assignRecordIdToReference>SignAssessmentID</assignRecordIdToReference>
        <connector>
            <targetReference>CreateSignatureTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SignAssessmentTask.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>SignAssessmentTask.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskType</field>
            <value>
                <stringValue>SignatureTask</stringValue>
            </value>
        </inputAssignments>
        <object>AssessmentTask</object>
    </recordCreates>
    <recordCreates>
        <name>CreateSignatureTask</name>
        <label>CreateSignatureTask</label>
        <locationX>50</locationX>
        <locationY>2927</locationY>
        <assignRecordIdToReference>SignatureTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateAssessmentTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentTaskId</field>
            <value>
                <elementReference>SignAssessmentID</elementReference>
            </value>
        </inputAssignments>
        <object>SignatureTask</object>
    </recordCreates>
    <recordLookups>
        <name>Actionplantempitem</name>
        <label>Actionplantempitem</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActionPlanItemValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewActionPlan.ActionPlanTemplateVersionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ItemEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AssessmentTask</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ActionPlanTemplateItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SignaturetaskActionPlanItem</name>
        <label>Get SignaturetaskActionPlanItem</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>signitem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewActionPlan.ActionPlanTemplateVersionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ItemEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SignatureTask</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ActionPlanTemplateItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActionPlanTemplate</name>
        <label>Get Action Plan Template</label>
        <locationX>611</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActionPlanTemplateIDcheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActionPlanTemplateName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActionPlanTemplateVersion</name>
        <label>Get Action Plan Template Version</label>
        <locationX>380</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActionPlanTemplateActivated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetActionPlanTemplate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVisitRecord</name>
        <label>Get Visit Record</label>
        <locationX>858</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PHOCS_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAssessmentTask</name>
        <label>UpdateAssessmentTask</label>
        <locationX>50</locationX>
        <locationY>3035</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SignAssessmentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TaskDefinitionId</field>
            <value>
                <elementReference>SignatureTaskId</elementReference>
            </value>
        </inputAssignments>
        <object>AssessmentTask</object>
    </recordUpdates>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetVisitRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VisitTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Visit</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActionPlanRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ActionPlanTemplateItem</objectType>
    </variables>
    <variables>
        <name>ActionPlanTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AIDRecsforcreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentIndicatorDefinition</objectType>
    </variables>
    <variables>
        <name>Assessmentskdef</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Assessmnttask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>AssTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ATIdValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ActionPlanTemplateItem</objectType>
    </variables>
    <variables>
        <name>ATIId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ATIvalues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ActionPlanItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ActionPlanTemplateItemValue</objectType>
    </variables>
    <variables>
        <name>IAIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>InsAssessIndi</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>InspectionAssIndicator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InspectionAssessmentInd</objectType>
    </variables>
    <variables>
        <name>literalv</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>NewActionPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ActionPlan</objectType>
    </variables>
    <variables>
        <name>newAssessmnttask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PhocsActionPlanTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SignAssessmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SignAssessmentTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>SignatureTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreLiteralValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssessmentTaskDefinition</objectType>
    </variables>
    <variables>
        <name>taskliteralvalues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
    <variables>
        <name>Testt</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentTask</objectType>
    </variables>
</Flow>
