bcgov-source/app-phocs/main/default/flows/AbandonInspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetAssesmentTaskRecordIds</name>
        <label>Set Assesment Task Record Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AssesmentTaskRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateAssesmentTasks.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateAssesmentTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateAssessmentQuestionStatus</name>
        <label>update Assessment Question Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IterateInspectionAssessmentIndicatorRecords.Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Abandoned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateInspectionAssessmentIndicatorRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateVisitRecords</name>
        <label>updateVisitRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inspectionRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Abandoned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionRecord.InspectionStatusReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InspectionStatusReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionRecord.ActualVisitEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateInspection</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Abandon Inspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Abandon Inspection</label>
    <loops>
        <name>IterateAssesmentTasks</name>
        <label>Iterate Assesment Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetAssesmentTaskRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetAssesmentTaskRecordIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetInspectionAssessmentIndicatorRrecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterateInspectionAssessmentIndicatorRecords</name>
        <label>Iterate Inspection Assessment Indicator Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetInspectionAssessmentIndicatorRrecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updateAssessmentQuestionStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateInspectionAssessmentIndicator</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAssesmentTaskRecords</name>
        <label>Get Assesment Task Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateAssesmentTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentTask</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInspectionAssessmentIndicatorRrecords</name>
        <label>Get Inspection Assessment Indicator Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateInspectionAssessmentIndicatorRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentTaskId</field>
            <operator>In</operator>
            <value>
                <elementReference>AssesmentTaskRecordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InspectionAssessmentInd</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Result</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInspectionRecord</name>
        <label>Get Inspection Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateInspection</name>
        <label>Update Inspection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAssesmentTaskRecords</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AbandonInspectionError</targetReference>
        </faultConnector>
        <inputReference>inspectionRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInspectionAssessmentIndicator</name>
        <label>Update Inspection Assessment Indicator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>GetInspectionAssessmentIndicatorRrecords</inputReference>
    </recordUpdates>
    <screens>
        <name>AbandonInspectionError</name>
        <label>Abandon Inspection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>updateError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(243, 245, 246); font-size: 14px; font-family: monospace; color: rgb(240, 11, 11);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateVisitRecords</targetReference>
        </connector>
        <fields>
            <name>warningLabel</name>
            <fieldText>&lt;p&gt;Would you like to continue? Once confirmed, the inspection and the responses entered will be permanently updated to Abandoned.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>InspectionStatusReason</name>
            <fieldText>Inspection Status Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetInspectionRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssesmentTaskRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inspectionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
