bcgov-source/app-phocs/main/default/flows/Account_Populate_Water_Source_Category.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Bulk_supplied_Piped</name>
        <label>Assign Bulk supplied – Piped</label>
        <locationX>1898</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>WaterSourceCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bulk supplied – Piped</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Water_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bulk_Supplied_Trucked</name>
        <label>Assign Bulk Supplied - Trucked</label>
        <locationX>1634</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>WaterSourceCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bulk Supplied - Trucked</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Water_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ground_and_Surface</name>
        <label>Assign Ground and Surface</label>
        <locationX>1106</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>WaterSourceCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ground and Surface</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Water_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ground_Surface_and_Bulk</name>
        <label>Assign Ground/Surface and Bulk</label>
        <locationX>1370</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>WaterSourceCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ground/Surface and Bulk</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Water_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Groundwater_Multiple_Sources</name>
        <label>Assign Groundwater - Multiple Sources</label>
        <locationX>842</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>WaterSourceCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Groundwater - Multiple Sources</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Water_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Groundwater_Single_Source</name>
        <label>Assign Groundwater - Single Source</label>
        <locationX>578</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>WaterSourceCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Groundwater - Single Source</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Water_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_parent_Account</name>
        <label>Assign parent Account</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ParentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Water_Source_Intake</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Account_With_Prior_Account</name>
        <label>Assign Parent Account With Prior Account</label>
        <locationX>974</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>ParentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_All_Water_Source_Intake</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Surface_Water_Multiple_Sources</name>
        <label>Assign Surface Water - Multiple Sources</label>
        <locationX>314</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>WaterSourceCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Surface Water - Multiple Sources</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Water_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Surface_Water_Single_Source</name>
        <label>Assign Surface Water - Single Source</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>WaterSourceCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Surface Water - Single Source</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Water_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Bulk_Water_counter</name>
        <label>Increment Bulk Water counter</label>
        <locationX>1986</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>BulkWaterCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Category_L2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Bulk_Water_Piped</name>
        <label>Increment Bulk Water Piped</label>
        <locationX>1986</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>BulkSupplyPipedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Source_Intake_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Bulk_Water_Trucked</name>
        <label>Increment Bulk Water Trucked</label>
        <locationX>1722</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>BulkWaterTruckedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Source_Intake_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>1194</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>SurfaceWaterCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Source_Intake_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Ground_Water_Counter</name>
        <label>Increment Ground Water Counter</label>
        <locationX>1458</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>GroundWaterCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Source_Intake_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Category_L1</name>
        <label>Check Category L1</label>
        <locationX>1810</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>All_Source_Intake_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_Surface_Water</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Source_Intake_Records.CategoryL1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Counter</targetReference>
            </connector>
            <label>IS Surface Water</label>
        </rules>
        <rules>
            <name>IS_Groundwater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Source_Intake_Records.CategoryL1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Groundwater</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Ground_Water_Counter</targetReference>
            </connector>
            <label>IS Groundwater</label>
        </rules>
        <rules>
            <name>IS_Bulkwater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Source_Intake_Records.CategoryL1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulkwater</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Bulk_Water_counter</targetReference>
            </connector>
            <label>IS Bulkwater</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Category_L2</name>
        <label>Check Category L2</label>
        <locationX>1986</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>All_Source_Intake_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Bulk_Supply_Trucked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Source_Intake_Records.CategoryL2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulk Supply (Trucked)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Bulk_Water_Trucked</targetReference>
            </connector>
            <label>Is Bulk Supply Trucked</label>
        </rules>
        <rules>
            <name>Is_Bulk_Supply_Piped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Source_Intake_Records.CategoryL2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulk Supply (Piped)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Bulk_Water_Piped</targetReference>
            </connector>
            <label>Is Bulk Supply Piped</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_entry_condition</name>
        <label>Check For entry condition</label>
        <locationX>1722</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCategory_Values_Updated</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DrinkingWaterSourceIntake</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CategoryL1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CategoryL2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CategoryL3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_parent_Account</targetReference>
            </connector>
            <label>isCategory Values Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Water_Source_Category</name>
        <label>Evaluate Water Source Category</label>
        <locationX>1106</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Water_System</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Surface_Water_Single_Source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurfaceWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GroundWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BulkWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Surface_Water_Single_Source</targetReference>
            </connector>
            <label>Surface Water - Single Source</label>
        </rules>
        <rules>
            <name>Surface_Water_Multiple_Sources</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurfaceWaterCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GroundWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BulkWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Surface_Water_Multiple_Sources</targetReference>
            </connector>
            <label>Surface Water - Multiple Sources</label>
        </rules>
        <rules>
            <name>Groundwater_Single_Source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroundWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurfaceWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BulkWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Groundwater_Single_Source</targetReference>
            </connector>
            <label>Groundwater - Single Source</label>
        </rules>
        <rules>
            <name>Groundwater_Multiple_Sources</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroundWaterCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurfaceWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BulkWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Groundwater_Multiple_Sources</targetReference>
            </connector>
            <label>Groundwater - Multiple Sources</label>
        </rules>
        <rules>
            <name>Ground_and_Surface</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurfaceWaterCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GroundWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BulkWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ground_and_Surface</targetReference>
            </connector>
            <label>Ground and Surface</label>
        </rules>
        <rules>
            <name>Ground_Surface_and_Bulk</name>
            <conditionLogic>1 AND( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>BulkWaterCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurfaceWaterCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GroundWaterCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ground_Surface_and_Bulk</targetReference>
            </connector>
            <label>Ground/Surface and Bulk</label>
        </rules>
        <rules>
            <name>Bulk_Supplied_Trucked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BulkWaterCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BulkWaterTruckedCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BulkSupplyPipedCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurfaceWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GroundWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bulk_Supplied_Trucked</targetReference>
            </connector>
            <label>Bulk Supplied - Trucked</label>
        </rules>
        <rules>
            <name>Bulk_supplied_Piped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BulkSupplyPipedCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BulkWaterCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GroundWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurfaceWaterCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bulk_supplied_Piped</targetReference>
            </connector>
            <label>Bulk supplied – Piped</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAccount_Changed</name>
        <label>isAccount Changed</label>
        <locationX>1106</locationX>
        <locationY>1847</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentAccount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ParentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Account_With_Prior_Account</targetReference>
            </connector>
            <label>AccountChanged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account populate Water {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Populate Water Source Category</label>
    <loops>
        <name>All_Source_Intake_Records</name>
        <label>All Source Intake Records</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_All_Water_Source_Intake</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Category_L1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluate_Water_Source_Category</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Water_Source_Intake</name>
        <label>Get All Water Source Intake</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Source_Intake_Records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DrinkingWaterSourceIntake</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Decommissioned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Water_System</name>
        <label>Update Parent Water System</label>
        <locationX>1106</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>isAccount_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentAccount</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WaterSourceCategory__c</field>
            <value>
                <elementReference>WaterSourceCategory</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1596</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_entry_condition</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BulkSupplyPipedCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BulkWaterCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BulkWaterTruckedCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GroundWaterCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ParentAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurfaceWaterCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WaterSourceCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
