bcgov-source/app-phocs/main/default/flows/BLAIssuePermit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_AAA</name>
        <label>Check AAA</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_AAA.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AAA</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>EHIS-2615</description>
    <environments>Default</environments>
    <formulas>
        <name>BLContactId</name>
        <dataType>String</dataType>
        <expression>IF({!recordId.LicenseType.Name}==&apos;BCCDC Dairy Worker Licence&apos;, {!recordId.ApplicantId}, null)</expression>
    </formulas>
    <formulas>
        <name>BLName</name>
        <dataType>String</dataType>
        <expression>  {!recordId.Account.Name} + &apos; &apos; +  {!recordId.LicenseType.Name}</expression>
    </formulas>
    <formulas>
        <name>businessEntityAccount</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!recordId.Account.ParentAccount__c})) &amp;&amp;
  {!recordId.Account.ParentAccount__r.RecordType.DeveloperName} = &quot;Business_Entity&quot;,
  {!recordId.Account.ParentAccount__c},

  IF(
     NOT(ISBLANK({!recordId.Account.ParentAccount__r.ParentAccount__c})) &amp;&amp;
     {!recordId.Account.ParentAccount__r.ParentAccount__r.RecordType.DeveloperName} = &quot;Business_Entity&quot;,
     {!recordId.Account.ParentAccount__r.ParentAccount__c},

    IF(
       NOT(ISBLANK({!recordId.Account.ParentAccount__r.ParentAccount__r.ParentAccount__c})) &amp;&amp;
       {!recordId.Account.ParentAccount__r.ParentAccount__r.ParentAccount__r.RecordType.DeveloperName} = &quot;Business_Entity&quot;,
       {!recordId.Account.ParentAccount__r.ParentAccount__r.ParentAccount__c},
        NULL
    )
  )
)</expression>
    </formulas>
    <interviewLabel>BLA Issue Permit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Issue Permit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateBusinessLicenseRecord</name>
        <label>Create  Business License Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>UpdateBLA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>businessEntityAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>BLContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BLName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetPermitRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegulatoryAuthorizationTypeId</field>
            <value>
                <elementReference>recordId.LicenseType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_AAA</name>
        <label>Get Related AAA</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_AAA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RgltyAuthApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AuthApplicationAsset</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPermitRecordTypeId</name>
        <label>Get Permit RecordType Id</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateBusinessLicenseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BusinessLicense</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PHOCSPermitLicense</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AAA</name>
        <label>Update AAA</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_AAA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LicensePermitNameId</field>
            <value>
                <elementReference>CreateBusinessLicenseRecord</elementReference>
            </value>
        </inputAssignments>
        <object>AuthApplicationAsset</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBLA</name>
        <label>Update BLA</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Related_AAA</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LicensePermitNameId</field>
            <value>
                <elementReference>CreateBusinessLicenseRecord</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessLicenseApplication</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 0, 0); font-size: 13px;&quot;&gt;Error Generating Permit.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IssuePermit</name>
        <label>Issue Permit</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>GetPermitRecordTypeId</targetReference>
        </connector>
        <fields>
            <name>confirmationMessage</name>
            <fieldText>&lt;p&gt;Are you sure you want to issue a new permit&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IssuePermit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicenseApplication</objectType>
    </variables>
</Flow>
