bcgov-source/app-phocs/main/default/flows/CreateFacilityLinkage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Get Selected Account and Related Account Ids</description>
        <name>GetSelectedAccountRelatedAccRecordIds</name>
        <label>Get Selected Account and Related Acc RecordIds</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>SelectedAccountRelatedAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountRelatedAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>relatedAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSelectedAccountRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store Selected Account , Related Account record type name in collection</description>
        <name>SelectedAccRecTypeNames</name>
        <label>Selected Acc Rec Type Names</label>
        <locationX>264</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>SelectedAccRecTypeName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CheckSelectedAccountsfromScreen.RecordTypeName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSelectedAccountsfromScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Related Inverse AAR field on both AAR Record.</description>
        <name>Set_Related_Inverse_AAR</name>
        <label>Set Related Inverse AAR</label>
        <locationX>176</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>Get_AAR_Record.RelatedInverseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>upstreamInverserAAR_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Inverse_AAR_Record.RelatedInverseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>upstreamAAR_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AAR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To Store each record type name in a collection</description>
        <name>StoreRecordTypeNames</name>
        <label>StoreRecordTypeNames</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PHOCSWaterSystemRecordTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CheckPHOCSAccountRecordTypeNames.RecordTypeDeveloperName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPHOCSAccountRecordTypeNames</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Downstream</name>
        <choiceText>Downstream</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Downstream</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upstream</name>
        <choiceText>Upstream</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upstream</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>CheckSelectedRecTypeisWaterSystem</name>
        <label>Check Selected Rec Type is Water System</label>
        <locationX>396</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>IncorrectFacilityLinkageError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>ValidAccountandRelatedAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PHOCSWaterSystemRecordTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CheckSelectedAccountsfromScreen.RecordTypeName__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectedAccRecTypeNames</targetReference>
            </connector>
            <label>Valid Account and Related Account</label>
        </rules>
    </decisions>
    <description>EHIS 911 Sprint 7 - Validation V2
Changed API Name</description>
    <environments>Default</environments>
    <interviewLabel>Create Facility Linkage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Facility Linkage</label>
    <loops>
        <description>Store Record Type Name we received from metadata</description>
        <name>CheckPHOCSAccountRecordTypeNames</name>
        <label>Check PHOCS Account RecordType Names</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>GetPHOCSAccountRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>StoreRecordTypeNames</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Facility_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterate the account we get from selected account and related account from screen</description>
        <name>CheckSelectedAccountsfromScreen</name>
        <label>Check Selected Accounts from Screen</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <collectionReference>GetSelectedAccountRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckSelectedRecTypeisWaterSystem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Party_Role_Relation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Account Account Relation based on selected values in screen component</description>
        <name>Create_AAR</name>
        <label>Create AAR</label>
        <locationX>176</locationX>
        <locationY>1898</locationY>
        <assignRecordIdToReference>upstreamAAR_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Inverse_AAR</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartyRoleRelationId</field>
            <value>
                <elementReference>partyRoleRelation.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_AAR_EHISFacilityAAR_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedAccountId</field>
            <value>
                <elementReference>relatedAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>AccountAccountRelation</object>
    </recordCreates>
    <recordCreates>
        <description>Create Inverse Account Account Relation for the AAR created above.</description>
        <name>Create_Inverse_AAR</name>
        <label>Create Inverse AAR</label>
        <locationX>176</locationX>
        <locationY>2006</locationY>
        <assignRecordIdToReference>upstreamInverserAAR_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_AAR_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>relatedAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartyRoleRelationId</field>
            <value>
                <elementReference>Get_Party_Role_Relation.RelatedInverseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_AAR_EHISFacilityAAR_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedAccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>AccountAccountRelation</object>
    </recordCreates>
    <recordLookups>
        <description>get EHIS Facility AAR Record Type</description>
        <name>Get_AAR_EHISFacilityAAR_Record_Type</name>
        <label>Get AAR EHISFacilityAAR Record Type</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Accounts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FacilityLinkage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>fetch Account Account Relation Record to update its Inverse AAR id</description>
        <name>Get_AAR_Record</name>
        <label>Get AAR Record</label>
        <locationX>176</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inverse_AAR_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>upstreamAAR_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountAccountRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Facility Record Type Id required to get account records of record type facility to link with existing account.</description>
        <name>Get_Account_Facility_Record_Type</name>
        <label>Get Account Facility Record Type</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AAR_EHISFacilityAAR_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>fetch Inverse Account Account Relation Record to update its Inverse AAR id</description>
        <name>Get_Inverse_AAR_Record</name>
        <label>Get Inverse AAR Record</label>
        <locationX>176</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Related_Inverse_AAR</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>upstreamInverserAAR_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountAccountRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the selected party role relation record.</description>
        <name>Get_Party_Role_Relation</name>
        <label>Get Party Role Relation</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_AAR</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>partyRoleRelation.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyRoleRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get account records to map with another facility in next screen</description>
        <name>Get_Related_Accounts</name>
        <label>Get Related Accounts</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Provide_Facility_Linkage_Details</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Facility_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get PHOCS Account Record Types for Validation</description>
        <name>GetPHOCSAccountRecordTypes</name>
        <label>GetPHOCSAccountRecordTypes</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPHOCSAccountRecordTypeNames</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PHOCSRecordTypeMapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Selected Account and Related Account Record Information to get record type name</description>
        <name>GetSelectedAccountRecords</name>
        <label>GetSelectedAccountRecords</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSelectedAccountsfromScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SelectedAccountRelatedAccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update the Account Account Relation Record as assignment of field Related Inverse Record is done.</description>
        <name>Update_AAR</name>
        <label>Update AAR</label>
        <locationX>176</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Update_Inverse_AAR</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed_Message</targetReference>
        </faultConnector>
        <inputReference>Get_AAR_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update the Inverse Account Account Relation Record as assignment of field Related Inverse Record is done.</description>
        <name>Update_Inverse_AAR</name>
        <label>Update Inverse AAR</label>
        <locationX>176</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed_Message</targetReference>
        </faultConnector>
        <inputReference>Get_Inverse_AAR_Record</inputReference>
    </recordUpdates>
    <screens>
        <description>To Display failed message whenever there is a fault in flow.</description>
        <name>Failed_Message</name>
        <label>Failed Message</label>
        <locationX>2816</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>failedMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(150, 9, 9); background-color: transparent;&quot;&gt;The Account Account Relationship records could not be created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>The Selected Account and Related account in Screen does not belong to PHOCS Water System Record Type</description>
        <name>IncorrectFacilityLinkageError</name>
        <label>IncorrectFacilityLinkageError</label>
        <locationX>528</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IncorrectFacilityLinkageErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(150, 9, 9); font-size: 18px;&quot;&gt;Please select a water system, water source intake or facility account record to create a facility linkage.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_Facility_Linkage_Details</name>
        <label>Provide Facility Linkage Details</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetSelectedAccountRelatedAccRecordIds</targetReference>
        </connector>
        <fields>
            <name>Provide_Facility_Linkage_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Provide_Facility_Linkage_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>AccountAccountRelation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>relatedAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>RelatedAccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Related Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>AccountAccountRelation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>partyRoleRelation</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>PartyRoleRelationId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Party Role Relation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>AccountAccountRelation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Success Message</description>
        <name>Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>2654</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Facility_Record_Type</targetReference>
        </connector>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(65, 118, 9); background-color: transparent;&quot;&gt;The Account Account Relationship records have successfully been created. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create New Linkage</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPHOCSAccountRecordTypes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Current Record Id</description>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store All water system record type for further validation process</description>
        <name>PHOCSWaterSystemRecordTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountRecTypeNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountRelatedAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedAccRecTypeName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>trest</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To Store Upstream AAR Record ID</description>
        <name>upstreamAAR_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To Store Inverse AAR record ID</description>
        <name>upstreamInverserAAR_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
