bcgov-source/app-phocs/main/default/flows/Phocs_Update_Regulatory_Code_Violation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>checkbox_check</name>
        <label>checkbox check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>corrected_during_inspection_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_inspection_assessment_indicator_records.CorrectedDuringInspection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSRegulatoryCodeViolation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_regulatory_code_violation_record</targetReference>
            </connector>
            <label>corrected during inspection checked</label>
        </rules>
        <rules>
            <name>corrected_during_inspection_not_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_inspection_assessment_indicator_records.CorrectedDuringInspection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSRegulatoryCodeViolation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_regulatory_code_violation_record_without_date_resolved</targetReference>
            </connector>
            <label>corrected during inspection not checked</label>
        </rules>
    </decisions>
    <description>This is the flow used for the update of the regulatory code violation records with inspection assessment indicator fields</description>
    <environments>Default</environments>
    <interviewLabel>Phocs Update Regulatory Code Violation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phocs Update Regulatory Code Violation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_inspection_assessment_indicator_records</name>
        <label>Get inspection assessment indicator records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkbox_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InspectionAssmntInd.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InspectionAssmntInd.RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InspectionAssessmentInd</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_regulatory_code_violation_record</name>
        <label>update regulatory code violation record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ComplianceDueDate</field>
            <value>
                <elementReference>Get_inspection_assessment_indicator_records.ComplianceDueDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corrected_During_Inspection__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CorrectiveActionDescription</field>
            <value>
                <elementReference>Get_inspection_assessment_indicator_records.CorrectiveActionDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Get_inspection_assessment_indicator_records.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_regulatory_code_violation_record_without_date_resolved</name>
        <label>update regulatory code violation record without date resolved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ComplianceDueDate</field>
            <value>
                <elementReference>Get_inspection_assessment_indicator_records.ComplianceDueDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corrected_During_Inspection__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CorrectiveActionDescription</field>
            <value>
                <elementReference>Get_inspection_assessment_indicator_records.CorrectiveActionDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Get_inspection_assessment_indicator_records.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_inspection_assessment_indicator_records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InspectionAssmntIndId</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>RegulatoryCodeViolation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
