bcgov-source/app-phocs/main/default/flows/PHOCSUpdateViolationCountOnRCV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assigning all child RCV records to a variable</description>
        <name>CountRVC</name>
        <label>CountRVC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RCVCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Child_RCV_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Inspection</targetReference>
        </connector>
    </assignments>
    <description>EHIS-2126, Updating field &quot;Violation Count&quot; available on Inspection(Visit) object. 
Trigger on Creation and Updation of Regulatory Code Violation.
Logic: Summary count of all Regulatory Code Violation records (any status) tied to the Inspection through Regulatory Code Violation Inspection ID fields</description>
    <environments>Default</environments>
    <interviewLabel>PHOCS Update Violation Count on RCV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHOCS Update Violation Count on RCV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve all sibling RCV records</description>
        <name>Get_All_Child_RCV_Records</name>
        <label>Get All Child RCV Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountRVC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InspectionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InspectionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PHOCSIsBelongsToPHOCS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RegulatoryCodeViolation</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updating total count of RCV records to its parent record(Inspection).</description>
        <name>Updating_Inspection</name>
        <label>Updating Inspection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PHOCSIsBelongsToPHOCS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PHOCSViolationCount__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>RCVCount</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PHOCSViolationCount__c</field>
            <value>
                <elementReference>RCVCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Inspection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Child_RCV_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InspectionId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PHOCSIsBelongsToPHOCS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RegulatoryCodeViolation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RCVCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
