bcgov-source/app-phocs/main/default/flows/PHOCS_Update_violation_date_field_with_Inspection_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Adding_violation_to_List</name>
        <label>Adding violation to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Violations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_all_violation_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_all_violation_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updating_Status_Date_Resolved</name>
        <label>Updating Status &amp; Date Resolved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loop_all_violation_records.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_all_violation_records.DateResolved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_violation_to_List</targetReference>
        </connector>
    </assignments>
    <description>This flow is used to update date resolved field of regulatory code violation with Actual end time date field of inspection</description>
    <environments>Default</environments>
    <interviewLabel>PHOCS Update violation date field with Inspection field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHOCS Update violation date field with Inspection field</label>
    <loops>
        <name>loop_all_violation_records</name>
        <label>loop all violation records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_violation_records</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Updating_Status_Date_Resolved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updating_violations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_violation_records</name>
        <label>get violation records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_all_violation_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InspectionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PHOCSIsBelongsToPHOCS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RegulatoryCodeViolation</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_violations</name>
        <label>Updating violations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Violations</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_violation_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActualVisitEndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Visit</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Violations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RegulatoryCodeViolation</objectType>
    </variables>
</Flow>
