bcgov-source/app-phocs/main/default/flows/PHOCSAutoCreateFoodLabTestRequiredRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AerobicPlateCountLTR</name>
        <label>Aerobic Plate Count LTR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AerobicPlateCountLabTestRequiredRecord.TestCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Food</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AerobicPlateCountLabTestRequiredRecord.Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAerobicColonyCountLabTestMasterListRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AerobicPlateCountLabTestRequiredRecord.LabTestRequisition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AerobicPlateCountLabTestRequiredRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPHOCSFoodLabTestRequiredRT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_records_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LTRList</name>
        <label>LTR List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RoutineLabTestRequiredRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AerobicPlateCountLabTestRequiredRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoutineLabTestRequiredRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_records_to_collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRoutineLabTestRequiredRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckForSampleReason</name>
        <label>Check For Sample Reason</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckForRoutineSampleReason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SampleReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Routine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LTRList</targetReference>
            </connector>
            <label>Check For  Routine Sample Reason</label>
        </rules>
        <rules>
            <name>CheckForEnvironmentalSampleReason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SampleReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Environmental</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateEnvironmentalLabTestRequiredRecords</targetReference>
            </connector>
            <label>Check For Environmental  Sample Reason</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PHOCS Auto-Create Food Lab Test Required Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHOCS Auto-Create Food Lab Test Required Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateEnvironmentalLabTestRequiredRecords</name>
        <label>Create EnvironmentalLabTestRequired Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>AerobicPlateCountLabTestRequiredRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateRoutineLabTestRequiredRecords</name>
        <label>Create Routine LabTestRequired Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>RoutineLabTestRequiredRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Routine_Master_List_Record</name>
        <label>Get Routine Master List Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AerobicPlateCountLTR</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>TestCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Food</stringValue>
            </value>
        </filters>
        <filters>
            <field>SampleTestType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BCCDC food quality check program</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParameterType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>E. coli</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParameterType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Total Coliform</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParameterType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fecal Coliform</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LabTestMasterList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAerobicColonyCountLabTestMasterListRecord</name>
        <label>Get Aerobic Colony Count LabTestMaster List Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Routine_Master_List_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aerobic colony count - Bakery cereals rices</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabTestMasterList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPHOCSFoodLabTestRequiredRT</name>
        <label>Get PHOCSFoodLabTestRequired RT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAerobicColonyCountLabTestMasterListRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PHOCSFoodLabTestRequired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPHOCSFoodLabTestRequiredRT</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SampleReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Routine</stringValue>
            </value>
        </filters>
        <filters>
            <field>SampleReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Environmental</stringValue>
            </value>
        </filters>
        <object>LabTestRequisition__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Add_records_to_collection</name>
        <label>Add records to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckForSampleReason</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>LabTestRequired__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>TestCategory__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Routine_Master_List_Record[$EachItem].TestCategory__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Test__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Routine_Master_List_Record[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>RecordTypeId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetPHOCSFoodLabTestRequiredRT.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>LabTestRequisition__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AerobicPlateCountLabTestRequiredRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LabTestRequired__c</objectType>
    </variables>
    <variables>
        <name>EcoliLabTestRequired</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LabTestRequired__c</objectType>
    </variables>
    <variables>
        <name>FecalColiformTestRequired</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LabTestRequired__c</objectType>
    </variables>
    <variables>
        <name>RoutineLabTestRequiredRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LabTestRequired__c</objectType>
    </variables>
    <variables>
        <name>TotalAndFecalColiformsLabTestRequired</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LabTestRequired__c</objectType>
    </variables>
    <variables>
        <name>TotalColiformTestRequired</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LabTestRequired__c</objectType>
    </variables>
</Flow>
