bcgov-source/app-phocs/main/default/flows/PHOCS_Update_Business_license_Total_Duration_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_the_duration_value</name>
        <label>Assign the duration value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DurationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_all_bl_duration_count.RestrictedLicenceDuration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_bl_duration_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>get_contact.PHOCSTotallicenseyears__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_3</name>
        <label>Assignment 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>get_contact.PHOCSTotallicenseyears__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_recordtype</name>
        <label>Check the recordtype</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phocs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSPermitLicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_contact.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSDairyPlantWorkerContacts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_BL</targetReference>
            </connector>
            <label>Phocs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_recordtype_of_contact</name>
        <label>Check the recordtype of contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Phocs_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSPermitLicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_contact.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSDairyPlantWorkerContacts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>check Phocs RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_recordtype_of_contact_bl</name>
        <label>Check the recordtype of contact bl</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phocs_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSPermitLicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_contact.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSDairyPlantWorkerContacts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_3</targetReference>
            </connector>
            <label>Phocs RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_total_duration_or_period_end</name>
        <label>Check the total duration or period end</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_duration_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RestrictedLicenceDuration__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_recordtype</targetReference>
            </connector>
            <label>Total duration field</label>
        </rules>
        <rules>
            <name>period_end_field_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PeriodEnd</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PeriodEnd</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_recordtype_of_contact</targetReference>
            </connector>
            <label>period end field changed</label>
        </rules>
        <rules>
            <name>period_end_date_is_updated_to_past_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PeriodEnd</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PeriodEnd</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_recordtype_of_contact_bl</targetReference>
            </connector>
            <label>period end date is updated to past date</label>
        </rules>
    </decisions>
    <description>This flow is used to update the Total restricted license duration field on contact with the Business license estricted license duration (Months) field</description>
    <environments>Default</environments>
    <formulas>
        <name>AddDurationBL</name>
        <dataType>Number</dataType>
        <expression>{!Get_all_bl_duration_count.RestrictedLicenceDuration__c} + {!get_contact.PHOCSTotalrestrictedlicenseduration__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewValue</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!get_contact.PHOCSTotallicenseyears__c}),0,IF({!get_contact.PHOCSTotallicenseyears__c} &lt;= 1,0,{!get_contact.PHOCSTotallicenseyears__c} - 1))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PHOCS Update Business license {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHOCS Update Business license Total Duration Flow</label>
    <loops>
        <name>Get_all_bl_duration_count</name>
        <label>Get all bl duration count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_all_BL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_duration_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_BL</name>
        <label>get all BL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_bl_duration_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_total_duration_or_period_end</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>get_contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PHOCSTotalrestrictedlicenseduration__c</field>
            <value>
                <elementReference>DurationCount</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contacts</name>
        <label>Update contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>get_contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>BusinessLicense</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DurationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
