bcgov-source/app-phocs/main/default/flows/PHOCS_Update_violation_date_field_with_Inspection_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_date_value</name>
        <label>assign date value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loop_all_violation_records.DateResolved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ActualVisitEndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_the_checkbox_value</name>
        <label>check the checkbox value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_all_violation_records.Corrected_During_Inspection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_all_violation_records.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSRegulatoryCodeViolation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_date_value</targetReference>
            </connector>
            <label>checked</label>
        </rules>
    </decisions>
    <description>This flow is used to update date resolved field of regulatory code violation with Actual end time date field of inspection</description>
    <environments>Default</environments>
    <interviewLabel>PHOCS Update violation date field with Inspection field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHOCS Update violation date field with Inspection field</label>
    <loops>
        <name>loop_all_violation_records</name>
        <label>loop all violation records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_violation_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_the_checkbox_value</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_violation_records</name>
        <label>get violation records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_all_violation_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InspectionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RegulatoryCodeViolation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loop_all_violation_records</targetReference>
        </connector>
        <inputReference>loop_all_violation_records</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_violation_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActualVisitEndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Visit</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
