bcgov-source/app-phocs/main/default/flows/PHOCS_Delete_Business_License_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_the_count</name>
        <label>assign the count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_count_is_correct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_the_final_duration_value</name>
        <label>assign the final duration value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalDuration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_all_BL.RestrictedLicenceDuration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_all_BL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_record_type</name>
        <label>Check record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Phocs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSPermitLicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSDairyPlantWorkerContacts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_BL_records</targetReference>
            </connector>
            <label>check Phocs</label>
        </rules>
    </decisions>
    <description>This flow will be trigger when business license deleted and update required contact field values</description>
    <environments>Default</environments>
    <formulas>
        <name>DecCount</name>
        <dataType>Number</dataType>
        <expression>
IF({!Get_Contact_record.PHOCSTotallicenseyears__c} &lt;= 1,0,{!Get_Contact_record.PHOCSTotallicenseyears__c} - 1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PHOCS Delete Business License Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHOCS Delete Business License Flow</label>
    <loops>
        <name>loop_all_BL</name>
        <label>loop all BL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_BL_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_the_final_duration_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_BL_records_with_date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_for_count_is_correct</name>
        <label>loop for count is correct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_BL_records_with_date</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_the_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Contact_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_BL_records</name>
        <label>get BL records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_all_BL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_BL_records_with_date</name>
        <label>get BL records with date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_for_count_is_correct</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND ( 4 OR 5 )</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PeriodEnd</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>PeriodEnd</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_record</name>
        <label>Get Contact record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Contact_Record</name>
        <label>Update the Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PHOCSTotallicenseyears__c</field>
            <value>
                <elementReference>count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHOCSTotalrestrictedlicenseduration__c</field>
            <value>
                <elementReference>FinalDuration</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_record</targetReference>
        </connector>
        <object>BusinessLicense</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FinalDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
