bcgov-source/app-phocs/main/default/flows/PHOCS_Update_Business_License_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_the_value_to_field</name>
        <label>Assign the value to field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.WorkerStatusCapture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BL_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_worker_status_got_changed</name>
        <label>Check the worker status got changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.WorkerStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restricted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSPermitLicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkerStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unrestricted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RegulatoryAuthorizationType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCCDC Dairy Worker Licence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_value_to_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This is flow is used to update RestrictedLicenceDuration__c field when the worker status got changed</description>
    <environments>Default</environments>
    <formulas>
        <name>Calculate</name>
        <dataType>Number</dataType>
        <expression>((YEAR(DATEVALUE({!$Record.WorkerStatusCapture__c})) - YEAR(DATEVALUE({!$Record.PeriodStart}))) * 12)+(
  MONTH(DATEVALUE({!$Record.WorkerStatusCapture__c})) - MONTH(DATEVALUE({!$Record.PeriodStart})))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PHOCS Auto Calculate Business license Restricted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHOCS Update Business License flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_BL_Record</name>
        <label>Update BL Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>RestrictedLicenceDuration__c</field>
            <value>
                <elementReference>Calculate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_worker_status_got_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkerStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PeriodStart</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>BusinessLicense</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
