bcgov-source/app-phocs/main/default/flows/PHOCS_Update_Resolved_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Update the resolved date on the parent RCV record and all child RCV records when the status is changed to ‘Resolved’.</description>
    <environments>Default</environments>
    <interviewLabel>PHOCS Update Resolved Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHOCS Update Resolved Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_All_child_RCV_Records</name>
        <label>Update All child RCV Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR (3 AND 4 AND 5))</filterLogic>
        <filters>
            <field>PHOCSIsBelongsToPHOCS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PHOCSParentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsChildViolation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InspectionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InspectionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PHOCSAssessmentIndDefinitionParentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PHOCSAssessmentIndDefinitionId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DateResolved</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>RegulatoryCodeViolation</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ResolvedDate</name>
        <label>Update ResolvedDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_All_child_RCV_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>DateResolved</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_ResolvedDate</targetReference>
        </connector>
        <filterLogic>(1 OR (5 AND 6 AND 7)) AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>PHOCSParentId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>PHOCSIsBelongsToPHOCS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsChildViolation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InspectionId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PHOCSAssessmentIndDefinitionId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RegulatoryCodeViolation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
