bcgov-source/app-phocs/main/default/flows/PHOCSUpdateInspectionDetailsOnAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Actual_Start_Time</name>
        <label>Assign Actual Start Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LatestInspectionDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Open_Inspections.ActualVisitStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Open_Inspections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inspection_Count</name>
        <label>Assign Inspection Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InspectionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Inspection_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Inspection_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Last_Inspection_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Outstanding_RCV_Records</name>
        <label>Assign Outstanding RCV Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OutstandingViolationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Child_RCV_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInspectionIds</name>
        <label>AssignInspectionIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InspectionIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetInspectionIds.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetInspectionIds</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Last_Inspection_Date</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Last Inspection Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Last_Inspection_Date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Inspection_Records</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Last_Inspection_Date.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>InProgress</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Last_Inspection_Date.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Open_Inspections</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>PHOCS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHOCS Update Inspection Details on Account</label>
    <loops>
        <name>GetInspectionIds</name>
        <label>GetInspectionIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Inspection_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignInspectionIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Inspection_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Open_Inspections</name>
        <label>Loop through Open Inspections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Last_Inspection_Date</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Actual_Start_Time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Child_RCV_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Inspection_Records</name>
        <label>Get All Inspection Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInspectionIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PHOCSIsBelongsToPHOCS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visit</object>
        <sortField>ActualVisitStartTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_RCV_Records</name>
        <label>Get Child RCV Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Outstanding_RCV_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>InspectionId</field>
            <operator>In</operator>
            <value>
                <elementReference>InspectionIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RegulatoryCodeViolation</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PHOCSLastInspectionDate__c</field>
            <value>
                <elementReference>LatestInspectionDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHOCSNumberOfInspections__c</field>
            <value>
                <elementReference>InspectionCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHOCSOutstandingViolations__c</field>
            <value>
                <elementReference>OutstandingViolationCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Inspection_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PHOCSIsBelongsToPHOCS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Visit</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Last_Inspection_Date</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>InspectionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>To store phocs inspection ids for account irrespective of inspection status</description>
        <name>InspectionIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InspectionRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>LatestInspectionDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutstandingViolationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
