bcgov-source/app-phocs/main/default/flows/PopulateRegulatoryCodeViolationRecordType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!PHOCSRegulatoryCodeRecordType.Id})),
    IF(
        {!$Record.RegulatoryCode.RecordType.Id} = {!PHOCSRegulatoryCodeRecordType.Id},
        {!PHOCSRegulatoryCodeViolationRecordType.Id},
        NULL
    ),
    NULL
)</expression>
    </formulas>
    <interviewLabel>Populate Regulatory Code Violation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Regulatory Code Violation RecordType</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>PHOCSRegulatoryCodeRecordType</name>
        <label>Get PHOCS Regulatory Code RecordType</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RegulatoryCode</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PHOCSRegulatoryCode</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PHOCSRegulatoryCodeViolationRecordType</name>
        <label>Get PHOCS Regulatory Code Violation RecordType</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PHOCSRegulatoryCodeRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RegulatoryCodeViolation</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PHOCSRegulatoryCodeViolation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecordType</name>
        <label>Update RecordType</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PHOCSRegulatoryCodeViolationRecordType</targetReference>
        </connector>
        <object>RegulatoryCodeViolation</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
