bcgov-source/app-phocs/main/default/flows/RollUpTreatmentMethodCredits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Credits</name>
        <label>Add Credits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalGiardiaCredits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GiardiaCreditValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalVirusCredits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VirusCreditValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCryptosporidiumCredits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CryptosporidiumCreditValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreditValues</name>
        <label>assignCreditValues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tempGiardiaCredits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Assets.GiardiaCredits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCryptosporidiumCredits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Assets.CryptosporidiumCredits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempVirusCredits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Assets.VirusCredits__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Credits</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CryptosporidiumCreditValue</name>
        <dataType>Number</dataType>
        <expression>VALUE({!tempCryptosporidiumCredits})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GiardiaCreditValue</name>
        <dataType>Number</dataType>
        <expression>VALUE({!tempGiardiaCredits})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>VirusCreditValue</name>
        <dataType>Number</dataType>
        <expression>VALUE({!tempVirusCredits})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>RollUpTreatmentMethodCredits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RollUpTreatmentMethodCreditsOnCreateORUpdate</label>
    <loops>
        <name>Loop_Through_Assets</name>
        <label>Loop Through Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCreditValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assets</name>
        <label>Get Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WaterTreatmentFacility__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TotalCryptoCredits__c</field>
            <value>
                <elementReference>TotalCryptosporidiumCredits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalGiardiaCredits__c</field>
            <value>
                <elementReference>TotalGiardiaCredits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalVirusCredits__c</field>
            <value>
                <elementReference>totalVirusCredits</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assets</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempCryptosporidiumCredits</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempGiardiaCredits</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempVirusCredits</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalCryptosporidiumCredits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalGiardiaCredits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalVirusCredits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
