bcgov-source/app-phocs/main/default/flows/RollUpAssetswhenDeleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Previous_Capacity_on_Deleted_Asset</name>
        <label>Set Previous Capacity on Deleted Asset</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>previousCapacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TotalCapacity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RollupAssets</targetReference>
        </connector>
    </assignments>
    <description>Roll up Assets when asset is deleted EHIS-1672</description>
    <environments>Default</environments>
    <formulas>
        <name>minusPreviousCapacity</name>
        <dataType>Number</dataType>
        <expression>-{!previousCapacity}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Roll Up Assets when Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll Up Assets when Deleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Previous_Capacity_on_Deleted_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>RollupAssets</name>
        <label>Roll up Assets</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <flowName>RollUpAssetsOnFacilitySubflow</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>capacitySum</name>
            <value>
                <elementReference>minusPreviousCapacity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>previousCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
