bcgov-source/app-phocs/main/default/flows/RollUpTreatmentMethod.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_Account_Updated</name>
        <label>Check If Account Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WaterTreatmentFacility__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recalculate_Credits_For_Previous_Account</targetReference>
            </connector>
            <label>Account Updated</label>
        </rules>
        <rules>
            <name>CheckCreditValueUpdates</name>
            <conditionLogic>(1 AND 2) OR (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GiardiaCredits__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CryptosporidiumCredits__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VirusCredits__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RollUpCredits</targetReference>
            </connector>
            <label>CheckCreditValueUpdates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Treatment_Method</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treatment_Method</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Account_Updated</targetReference>
            </connector>
            <label>Is Treatment Method</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Tr {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RollUpTreatmentMethod</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Recalculate_Credits_For_Previous_Account</name>
        <label>Recalculate Credits For Previous Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RollUpCredits</targetReference>
        </connector>
        <flowName>RollUpTreatmentMethodCredits</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record__Prior.WaterTreatmentFacility__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>RollUpCredits</name>
        <label>RollUpCredits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>RollUpTreatmentMethodCredits</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.WaterTreatmentFacility__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
