bcgov-source/app-phocs/main/default/flows/RollUpAssetswhenReparented.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Account_Change_or_Not</name>
        <label>Check Account Change or Not</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Roll_up_Existing_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RollUpAssets</targetReference>
            </connector>
            <label>Account is changed</label>
        </rules>
    </decisions>
    <description>Roll up Assets when Re-parented or Total Capacity value change on Facility EHIS-1672</description>
    <environments>Default</environments>
    <interviewLabel>Roll Up Assets when Re-parented {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll Up Assets when Re-parented or TotalCapacity Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Change_or_Not</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TotalCapacity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Roll_up_Existing_Assets</name>
        <label>Roll up Existing Assets</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <flowName>RollUpAssetsOnFacilitySubflow</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>capacitySum</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>RollUpAssets</name>
        <label>Roll up Assets</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>RollupAssetsfromOldAccount</targetReference>
        </connector>
        <flowName>RollUpAssetsOnFacilitySubflow</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>capacitySum</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>RollupAssetsfromOldAccount</name>
        <label>Roll up Assets from Old Account</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <flowName>RollUpAssetsOnFacilitySubflow</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>capacitySum</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
