bcgov-source/app-phocs/main/default/flows/RollUpAssetswhenReparented.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Roll up Assets when Re-parented on Facility EHIS-1672</description>
    <environments>Default</environments>
    <interviewLabel>Roll Up Assets when Re-parented {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll Up Assets when Re-parented</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RollUpAssets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>RollUpAssets</name>
        <label>Roll up Assets</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>RollupAssetsfromOldAccount</targetReference>
        </connector>
        <flowName>RollUpAssetsOnFacilitySubflow</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>capacitySum</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>RollupAssetsfromOldAccount</name>
        <label>Roll up Assets from Old Account</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <flowName>RollUpAssetsOnFacilitySubflow</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>capacitySum</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
