bcgov-source/app-phocs/main/default/flows/TreatmentMethodOnDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_TreatmentMethod</name>
        <label>Is TreatmentMethod</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treatment_Method</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Facility_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ToalGiardiaCredits</name>
        <dataType>Number</dataType>
        <expression>{!Get_Facility_Record.TotalGiardiaCredits__c} - Value(Text({!$Record.GiardiaCredits__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalCryptoCredits</name>
        <dataType>Number</dataType>
        <expression>{!Get_Facility_Record.TotalCryptoCredits__c} - VALUE(TEXT({!$Record.CryptosporidiumCredits__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalVirusCredits</name>
        <dataType>Number</dataType>
        <expression>{!Get_Facility_Record.TotalVirusCredits__c} - Value(Text({!$Record.VirusCredits__c}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>TreatmentMethodOnDelete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TreatmentMethodOnDelete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Facility_Record</name>
        <label>Get Facility Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Facility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WaterTreatmentFacility__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Facility</name>
        <label>Update Facility</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WaterTreatmentFacility__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TotalCryptoCredits__c</field>
            <value>
                <elementReference>TotalCryptoCredits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalGiardiaCredits__c</field>
            <value>
                <elementReference>ToalGiardiaCredits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalVirusCredits__c</field>
            <value>
                <elementReference>TotalVirusCredits</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_TreatmentMethod</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
