bcgov-source/app-phocs/main/default/flows/UpdateDocumentChecklistItemsFromBLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_BLA_Record_Type</name>
        <label>Check BLA Record Type</label>
        <locationX>578</locationX>
        <locationY>827</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PHOCS_BLA_Record_Types</name>
            <conditionLogic>(1 OR 2 OR 3 OR 5) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_BLA.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BLAConstructionPermitApplication</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BLA.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BLAOperatingPermitApplication</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BLA.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BLAEvaluation</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BLA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BLA.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSExemptions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Document_Checklist_Item</targetReference>
            </connector>
            <label>PHOCS BLA Record Types</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Document_Checklist_Item</name>
        <label>Check Document Checklist Item</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Update_Document_Checklist_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_contains_ERCP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ERCP</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ERCP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Document_Checklist_Items_ERCP</targetReference>
            </connector>
            <label>Name or Record Type Name contains ERCP</label>
        </rules>
        <rules>
            <name>IS_Retrieved_From_Custom_Metadata</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypefromCustommetadata.RecordTypeName__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHOCSDrawingPlanDocumentChecklist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_DrawingPlan</targetReference>
            </connector>
            <label>IS Retrieved From Custom Metadata</label>
        </rules>
    </decisions>
    <description>EHIS-905: Update DocumentChecklistItems record types based on PHOCS Business License Application record types</description>
    <environments>Default</environments>
    <formulas>
        <name>DocumentchecklistName</name>
        <dataType>String</dataType>
        <expression>TRIM(
  RIGHT(
    {!$Record.Name},
    LEN( {!$Record.Name}) - FIND(&quot;. &quot;,  {!$Record.Name})
  )
)</expression>
    </formulas>
    <interviewLabel>Update Document Checklist Items from BLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Document Checklist Items from BLA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Business License Application record</description>
        <name>Get_BLA</name>
        <label>Get BLA</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Checklist_Item_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicenseApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Checklist_Item_Record_Type</name>
        <label>Get Document Checklist Item Record Type - Non ERCP</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Checklist_Item_Record_Type_ERCP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PHOCSDocumentChecklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Checklist_Item_Record_Type_DrawingPlan</name>
        <label>Get Document Checklist Item Record Type - DrawingPlan</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_BLA_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PHOCSDrawingPlanDocumentChecklist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Checklist_Item_Record_Type_ERCP</name>
        <label>Get Document Checklist Item Record Type - ERCP</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordTypefromCustommetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PHOCSERCPDocumentChecklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecordTypefromCustommetadata</name>
        <label>RecordTypefromCustommetadata</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Checklist_Item_Record_Type_DrawingPlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocumentCheckListItem_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>DocumentchecklistName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocumentChecklistItemRecordTypeMapping__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Document_Checklist_Items</name>
        <label>Update Document Checklist Items</label>
        <locationX>578</locationX>
        <locationY>1043</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Document_Checklist_Item_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Document_Checklist_Items_ERCP</name>
        <label>Update Document Checklist Items ERCP</label>
        <locationX>50</locationX>
        <locationY>1043</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Document_Checklist_Item_Record_Type_ERCP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_DrawingPlan</name>
        <label>Update Document Checklist Items Drawing/Plan</label>
        <locationX>314</locationX>
        <locationY>1043</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Document_Checklist_Item_Record_Type_DrawingPlan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_BLA</targetReference>
        </connector>
        <object>DocumentChecklistItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BLAConstructionPermitApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ConstructionPermitApplication</stringValue>
        </value>
    </variables>
    <variables>
        <name>BLAEvaluation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Evaluation</stringValue>
        </value>
    </variables>
    <variables>
        <name>BLAOperatingPermitApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OperatingPermitApplication</stringValue>
        </value>
    </variables>
    <variables>
        <name>DrawingPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DrawingPlan</stringValue>
        </value>
    </variables>
    <variables>
        <description>DrinkingWaterSourceIntake Account record type</description>
        <name>DrinkingWaterSourceIntake</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DrinkingWaterSourceIntake</stringValue>
        </value>
    </variables>
    <variables>
        <description>DrinkingWaterSystem Account record type</description>
        <name>DrinkingWaterSystem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DrinkingWaterSystem</stringValue>
        </value>
    </variables>
    <variables>
        <name>ERCP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ERCP</stringValue>
        </value>
    </variables>
    <variables>
        <description>Facility Account record type</description>
        <name>Facility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Facility</stringValue>
        </value>
    </variables>
    <variables>
        <description>PHOCS Document Checklist Item record type</description>
        <name>PHOCSDocumentChecklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PHOCSDocumentChecklist</stringValue>
        </value>
    </variables>
    <variables>
        <name>PHOCSDrawingPlanDocumentChecklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PHOCSDrawingPlanDocumentChecklist</stringValue>
        </value>
    </variables>
    <variables>
        <name>PHOCSERCPDocumentChecklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PHOCSERCPDocumentChecklist</stringValue>
        </value>
    </variables>
</Flow>
