bcgov-source/app-phocs/main/default/flows/Update_Health_Authority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Apex action to pass hyperlink and get Salesforce Id from hyperlink</description>
        <name>Extract_SF_ID_From_Hyperlink</name>
        <label>Extract SF ID From Hyperlink</label>
        <locationX>1128</locationX>
        <locationY>323</locationY>
        <actionName>PHOCSCustomConfiguration</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Facility_HA_exists</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>htmlContent</name>
            <value>
                <elementReference>$Record.FacilityHA__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PHOCSCustomConfiguration</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>getHyperlinkSFID</assignToReference>
            <name>plainText</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Assign Health Authority based on Facility HA</description>
        <name>Assign_Health_Authority</name>
        <label>Assign Health Authority</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Interior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Facility_HA.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interior</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interior_Health_IH</targetReference>
            </connector>
            <label>Interior</label>
        </rules>
        <rules>
            <name>Fraser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Facility_HA.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fraser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fraser_Health_FH</targetReference>
            </connector>
            <label>Fraser</label>
        </rules>
        <rules>
            <name>Vancouver_Coastal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Facility_HA.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vancouver Coastal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vancouver_Coastal_Health_VCH</targetReference>
            </connector>
            <label>Vancouver Coastal</label>
        </rules>
        <rules>
            <name>Vancouver_Island</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Facility_HA.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vancouver Island</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Island_Health_Island</targetReference>
            </connector>
            <label>Vancouver Island</label>
        </rules>
        <rules>
            <name>Northern</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Facility_HA.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Northern</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Northern_Health_NH</targetReference>
            </connector>
            <label>Northern</label>
        </rules>
    </decisions>
    <decisions>
        <description>To Check if Facility HA exists in Account</description>
        <name>Check_Facility_HA_exists</name>
        <label>Check Facility HA exists</label>
        <locationX>1128</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_Facility_HA_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getHyperlinkSFID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Facility_HA</targetReference>
            </connector>
            <label>Outcome 1 of Check Facility HA exists</label>
        </rules>
    </decisions>
    <description>Flow to update Health Authority Field - EHIS-188</description>
    <environments>Default</environments>
    <interviewLabel>Update Health Authority {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Health Authority</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>To extract facility HA account record</description>
        <name>Get_Facility_HA</name>
        <label>Get Facility HA</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Health_Authority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getHyperlinkSFID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Account Field Health Authority to Fraser Health - FH</description>
        <name>Fraser_Health_FH</name>
        <label>Fraser Health - FH</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>HealthAuthority__c</field>
            <value>
                <stringValue>Fraser Health - FH</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account Field Health Authority to Interior Health - IH</description>
        <name>Interior_Health_IH</name>
        <label>Interior Health - IH</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>HealthAuthority__c</field>
            <value>
                <stringValue>Interior Health - IH</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account Field Health Authority - Island Health - Island</description>
        <name>Island_Health_Island</name>
        <label>Island Health - Island</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>HealthAuthority__c</field>
            <value>
                <stringValue>Island Health - Island</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account Field Health Authority to Northern Health - NH</description>
        <name>Northern_Health_NH</name>
        <label>Northern Health - NH</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>HealthAuthority__c</field>
            <value>
                <stringValue>Northern Health - NH</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account Field  Health Authority to Vancouver Coastal Health - VCH</description>
        <name>Vancouver_Coastal_Health_VCH</name>
        <label>Vancouver Coastal Health - VCH</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>HealthAuthority__c</field>
            <value>
                <stringValue>Vancouver Coastal Health - VCH</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1002</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Extract_SF_ID_From_Hyperlink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FacilityHA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HealthAuthority__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Extract Salesforce ID from HyperLink</description>
        <name>getHyperlinkSFID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
